html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes, viewport-fit=cover')
        meta(name='description', content='Sequenzia')
        meta(name='author', content='Yukimi Kazari')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel='apple-touch-icon' sizes='180x180' href='/static/img/icons/android/android-launchericon-192-192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/static/img/icons/firefox/firefox-general-32-32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/static/img/icons/chrome/firefox-general-16-16.png')
        link(rel='preload', href="/static/font/london2012.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/font/weathericons-regular-webfont.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="static/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="static/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='manifest' href='/static/manifest.json')
        title= `${webconf.site_name}`
        link(rel='stylesheet', href='/static/css/sb-admin-2.min.css')
        link(rel='stylesheet', href="/static/vendor/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="/css/custom.min.css")
        link(rel="stylesheet", href="/css/ambient.min.css")
        if (randomImagev2.length > 0)
            - image = (imageData) ? imageData : (randomImagev2[0].fullImage) ? randomImagev2[0].fullImage : '/static/img/ambient-default.png';
        else
            - image = '/static/img/ambient-default.png'
        style.
            body {
                background: rgb(62, 62, 62)
            }
            .background-image {
                transform: none;
            }
            .image-src {
                content: url('#{image}');
            }
            .image-style {
                background-image: url('#{image}');
            }

            .blur-this {
                filter: blur(5px); saturate(2) brightness(1.2) contrast(.6);
                -webkit-filter: blur(5px); saturate(2) brightness(1.2) contrast(.6);
            }
        if (query && query.wtype === 'wide')
            style.
                .widget-box {
                    display: block;
                    width: 100%;
                    height: 46vw;
                }
                .widget-data {
                    position: fixed;
                    top: 0;
                }
        else
            style.
                .widget-box {
                    display: block;
                    width: 100%;
                    height: 105vw;
                }
                .widget-data {
                    position: fixed;
                    top: 0;
                }
    body
        .widget-box
            if (randomImagev2.length > 0)
                // 0.9 > 1 < 1.2
                if (!(configuration && configuration.displayAspectCorrect !== 1) && (((randomImagev2[0].sizeR > 0.9 && randomImagev2[0].sizeR < 1.6) && !(query && query.wtype === 'wide')) || ((query && query.wtype === 'wide') && randomImagev2[0].sizeR < 0.9)))
                    if (!(query && query.wtype !== 'wide') && randomImagev2[0].sizeR > 1.45)
                        style.
                            .background-image {
                                background-position: top!important;
                            }
                    #bg1.background-image.image-style
                else
                    #bg1.background-image.blur-this.image-style
                    img#bg1port.portait-overlay.center-block.image-src
            else
                #bg1.background-image.image-style

            // Info is disabled until i can figure out the oddities between iphone and ipad scaling being all over the spectrum
        .widget-data.widget-box
            .fixed-top
                if !(configuration && configuration.displayLogo !== 0)
                    if (randomImagev2.length > 0)
                        #logoStart(style='opacity: .45')
                            span.sequenzia-logo.shadow-txt(style="font-size: 1.75em;position: relative;top: 0.2em; color: unset;") sequenzia
            div
                .shadow-txt(style='position: absolute;font-size: 2rem; font-weight: 100; padding: 1.8rem 1.6rem;bottom: 0;')
                    div
                        if (randomImagev2.length > 0 && randomImagev2[0].pinned)
                            i#dataFav.shadow-txt.fas.fa-star.shadow-txt.align-self-center(style='font-size: 32px; padding-bottom: 1rem;')
                    if (randomImagev2.length > 0)
                        div
                            span.text-uppercase.text-ellipsis(style="font-weight: 900; line-height: 1rem;") #{randomImagev2[0].className} / #{randomImagev2[0].channelName}
                        div
                            span(style="font-size: 1.5rem;") #{randomImagev2[0].date}
                    else
                        span#data1.text-uppercase.shadow-txt No Results
