- nsfwFilter  =`filter: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='10' height='1'%3E%3CfeGaussianBlur stdDeviation='15' result='b'/%3E%3CfeMorphology operator='dilate' radius='15'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a\"); background-clip: padding-box;`
if (displayResults)
    if (displayResults.length > 0)
        for display, displayIndex in displayResults
            - mainDisplay = display.images.filter(e => e.screen === 0)
            - secondDisplay = display.images.filter(e => e.screen === 1)
            div.album-item.position-relative
                div.display-jumbotron
                    .row.position-relative.m-0
                        if (mainDisplay.length > 0 && secondDisplay.length > 0)
                            a(title=`Message ID: ${mainDisplay[0].eid}\nShown on ${mainDisplay[0].date}` href='#_' onclick=`getNewContent([],[['sort', 'history'],['history_numdays', '90'],['history', 'only'],['nsfw', 'true'],['displayname','${display.display}']], "/gallery"); return false;` style='width: 50%; position: relative; margin-bottom: 62%; overflow-x: clip;')
                                div.wide.rounded
                                    - nsfwFilter1 = ""
                                    if (mainDisplay[0].nsfw && mainDisplay[0].nsfw === 1)
                                        - nsfwFilter1 = nsfwFilter

                                    if (mainDisplay[0].ratio <= 0.95)
                                        div.half-center(style=`${nsfwFilter1}background-position: center; background-size: fit; background-image: url('${mainDisplay[0].preview}');position: absolute; z-index: 2; width: calc(100% - 1px); margin-right: 1px;`)
                                        div.half-full.rounded(style=`background-color: rgb(${mainDisplay[0].color[0]}, ${mainDisplay[0].color[1]}, ${mainDisplay[0].color[2]}); position: absolute; z-index: 1; border-right: black 1px solid; border-top-right-radius: 0!important;border-bottom-right-radius: 0!important;`)
                                    else
                                        div.half-full.rounded(style=`${nsfwFilter1}background-position: center; background-size: cover; background-image: url('${mainDisplay[0].preview}'); position: absolute; z-index: 2; border-right: black 1px solid; border-top-right-radius: 0!important;border-bottom-right-radius: 0!important;`)
                            a(title=`Message ID: ${secondDisplay[0].eid}\nShown on ${secondDisplay[0].date}` href='#_' onclick=`getNewContent([],[['sort', 'history'],['history_numdays', '90'],['history', 'only'],['nsfw', 'true'],['displayname','${display.display}']], "/gallery"); return false;` style='width: 50%; position: relative; margin-bottom: 62%; overflow-x: clip;')
                                div.wide.rounded
                                    - nsfwFilter2 = ""
                                    if (secondDisplay[0].nsfw && secondDisplay[0].nsfw === 1)
                                        - nsfwFilter2 = nsfwFilter

                                    if (secondDisplay[0].ratio <= 0.95)
                                        div.half-center(style=`background-position: center; background-size: fit; background-image: url('${secondDisplay[0].preview}');position: absolute; z-index: 2; width: calc(100% - 1px); margin-left: 1px;`)
                                        div.half-full.rounded(style=`${nsfwFilter2}background-color: rgb(${secondDisplay[0].color[0]}, ${secondDisplay[0].color[1]}, ${secondDisplay[0].color[2]}); position: absolute; z-index: 1; border-left: black 1px solid; border-top-left-radius: 0!important;border-bottom-left-radius: 0!important;`)
                                    else
                                        div.half-full.rounded(style=`${nsfwFilter2}background-position: center; background-size: cover; background-image: url('${secondDisplay[0].preview}'); position: absolute; z-index: 2; border-left: black 1px solid; border-top-left-radius: 0!important;border-bottom-left-radius: 0!important;`)
                        else if (mainDisplay.length > 0)
                            a(title=`Message ID: ${mainDisplay[0].eid}\nShown on ${mainDisplay[0].date}` href='#_' onclick=`getNewContent([],[['sort', 'history'],['history_numdays', '90'],['history', 'only'],['nsfw', 'true'],['displayname','${display.display}']], "/gallery"); return false;` style='width: 100%; position: relative; margin-bottom: 62%; overflow-x: clip;')
                                div.wide
                                    - nsfwFilter1 = ""
                                    if (mainDisplay[0].nsfw && mainDisplay[0].nsfw === 1)
                                        - nsfwFilter1 = nsfwFilter

                                    if (mainDisplay[0].ratio <= 0.95 )
                                        div.wide-full.rounded(style=`${nsfwFilter1}background-position: center; background-size: cover; background-image: url('${mainDisplay[0].preview}'); position: absolute; z-index: 2;`)
                                    else
                                        div.wide-center(style=`${nsfwFilter1}background-position: center; background-size: fit; background-image: url('${mainDisplay[0].preview}');position: absolute; z-index: 2;`)
                                        div.wide-full.rounded(style=`background-color: rgb(${mainDisplay[0].color[0]}, ${mainDisplay[0].color[1]}, ${mainDisplay[0].color[2]}); position: absolute; z-index: 1;`)
                        else if (secondDisplay.length > 0)
                            a(title=`Message ID: ${secondDisplay[0].eid}\nShown on ${secondDisplay[0].date}` href='#_' onclick=`getNewContent([],[['sort', 'history'],['history_numdays', '90'],['history', 'only'],['nsfw', 'true'],['displayname','${display.display}']], "/gallery"); return false;` style='width: 100%; position: relative; margin-bottom: 62%; overflow-x: clip;')
                                div.wide
                                    - nsfwFilter1 = ""
                                    if (secondDisplay[0].nsfw && secondDisplay[0].nsfw === 1)
                                        - nsfwFilter1 = nsfwFilter

                                    if (secondDisplay[0].ratio <= 0.95 )
                                        div.wide-full.rounded(style=`${nsfwFilter1}background-position: center; background-size: cover; background-image: url('${secondDisplay[0].preview}'); position: absolute; z-index: 2;`)
                                    else
                                        div.wide-center(style=`${nsfwFilter1}background-position: center; background-size: fit; background-image: url('${secondDisplay[0].preview}');position: absolute; z-index: 2;`)
                                        div.wide-full.rounded(style=`background-color: rgb(${secondDisplay[0].color[0]}, ${secondDisplay[0].color[1]}, ${secondDisplay[0].color[2]}); position: absolute; z-index: 1;`)
                        div.album-info.rounded.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2.pt-1(style="justify-content: left; top: 0; z-index: 2;")
                            div.album-icon
                                if (display.display === 'Untitled')
                                    i.fas.fa-tv.pr-2
                                else if (display.display === 'Homepage')
                                    i.fas.fa-home.pr-2
                                else if (display.display === 'WebExtension')
                                    i.fab.fa-edge.pr-2
                                else if (display.display === 'ADSMicro-Untitled')
                                    i.fas.fa-laptop.pr-2
                                else if (display.display === 'ADSEmbed-Untitled')
                                    i.fas.fa-dice-five.pr-2
                                else if (display.display === 'ADSWidget-Untitled')
                                    i.fab.fa-app-store-ios.pr-2
                                else if (display.display === 'ADSMobile-Untitled')
                                    i.fas.pr-2.align-self-center.fa-mobile-alt.text-white
                                else if (display.display.includes('ADSMicro-'))
                                    i.fas.fa-laptop.pr-2
                                else if (display.display.includes('ADSEmbed-'))
                                    i.fas.fa-dice-five.pr-2
                                else if (display.display.includes('ADSWidget-'))
                                    i.fab.fa-app-store-ios.pr-2
                                else if (display.display.includes('ADSMobile-'))
                                    i.fas.fa-mobile-alt.pr-2
                                else
                                    i.fas.fa-tv.pr-2
                        div.album-info.rounded.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2(style="justify-content: left; bottom: 0; background: #00000091; z-index: 4;")
                            if ( display.display === 'Untitled' )
                                | Frame
                            else if ( display.display === 'Homepage' )
                                | Homepage
                            else if ( display.display === 'WebExtension' )
                                | Extension
                            else if ( display.display === 'ADSMicro-Untitled' )
                                | Desktop
                            else if ( display.display === 'ADSEmbed-Untitled' )
                                | Randomizer
                            else if ( display.display === 'ADSWidget-Untitled' )
                                | Widget
                            else if ( display.display === 'ADSMobile-Untitled' )
                                | Mobile
                            else if ( display.display.includes('ADSMicro-') )
                                | #{(display.name.startsWith('ADSMicro-')) ? display.name.split('ADSMicro-')[1] : display.name}
                            else if ( display.display.includes('ADSEmbed-') )
                                | #{(display.name.startsWith('ADSEmbed-')) ? display.name.split('ADSEmbed-')[1] : display.name}
                            else if (display.display.includes('ADSWidget-'))
                                | #{(display.name.startsWith('ADSWidget-')) ? display.name.split('ADSWidget-')[1] : display.name}
                            else if ( display.display.includes('ADSMobile-') )
                                | #{(display.name.startsWith('ADSMobile-')) ? display.name.split('ADSMobile-')[1] : display.name}
                            else
                                | #{display.name}
    else
        div.display-results.pt-3
            | No Registered Displays Found or No History
else if (noResults)
    div.display-results.pt-3
        | No Registered Displays Found or No History
else if (nothingDeleted)
    div.display-results.pt-3
        | Nothing was found to delete
else if (deleted)
    div.display-results.pt-3
        | Removed #{deleted} Images from History, Click Refresh Icon
else
    div.display-results.pt-3
        | Unknown Server Fault
