- nsfwFilter  =`filter: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='10' height='1'%3E%3CfeGaussianBlur stdDeviation='15' result='b'/%3E%3CfeMorphology operator='dilate' radius='15'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a\"); background-clip: padding-box;`
if (displayResults)
    if (displayResults.length > 0)
        for display, displayIndex in displayResults
            if (display.images.length > 0)
                div.album-item.position-relative
                    div.album-info.rounded.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2.pt-1(style="justify-content: left; top: 0;")
                        //x.uri, x.privacy
                        div.album-icon
                            div.album-icon
                                if (display.display === 'Untitled')
                                    i.fas.fa-tv.pr-2
                                else if (display.display === 'Homepage')
                                    i.fas.fa-home.pr-2
                                else if (display.display === 'WebExtension')
                                    i.fab.fa-edge.pr-2
                                else if (display.display === 'ADSMicro-Untitled')
                                    i.fas.fa-laptop.pr-2
                                else if (display.display === 'ADSEmbed-Untitled')
                                    i.fas.fa-dice-five.pr-2
                                else if (display.display === 'ADSWidget-Untitled')
                                    i.fab.fa-app-store-ios.pr-2
                                else if (display.display === 'ADSMobile-Untitled')
                                    i.fas.pr-2.align-self-center.fa-mobile-alt.text-white
                                else if (display.display.includes('ADSMicro-'))
                                    i.fas.fa-laptop.pr-2
                                else if (display.display.includes('ADSEmbed-'))
                                    i.fas.fa-dice-five.pr-2
                                else if (display.display.includes('ADSWidget-'))
                                    i.fab.fa-app-store-ios.pr-2
                                else if (display.display.includes('ADSMobile-'))
                                    i.fas.fa-mobile-alt.pr-2
                                else
                                    i.fas.fa-tv.pr-2
                    div.album-info.rounded.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2(style="justify-content: left; bottom: 0; background: #00000091")
                        if (display.display === 'Untitled')
                            span Frame
                        else if (display.display === 'Homepage')
                            span Homepage
                        else if (display.display === 'WebExtension')
                            span Extension
                        else if (display.display === 'ADSMicro-Untitled')
                            span Desktop
                        else if (display.display === 'ADSEmbed-Untitled')
                            span Randomizer
                        else if (display.display === 'ADSWidget-Untitled')
                            span Widget
                        else if (display.display === 'ADSMobile-Untitled')
                            span Mobile
                        else if (display.display.includes('ADSMicro-'))
                            span #{(display.name.startsWith('ADSMicro-')) ? display.name.split('ADSMicro-')[1] : display.name}
                        else if (display.display.includes('ADSEmbed-'))
                            span #{(display.name.startsWith('ADSEmbed-')) ? display.name.split('ADSEmbed-')[1] : display.name}
                        else if (display.display.includes('ADSWidget-'))
                            span #{(display.name.startsWith('ADSWidget-')) ? display.name.split('ADSWidget-')[1] : display.name}
                        else if (display.display.includes('ADSMobile-'))
                            span #{(display.name.startsWith('ADSMobile-')) ? display.name.split('ADSMobile-')[1] : display.name}
                        else
                            span #{display.name}
                    a.position-absolute.text-capitalize(style='height: 100%; width: 100%' title=`Message ID: ${display.images[0].eid}\nShown on ${display.images[0].date}` href=`#_` onclick=`getNewContent([],[['sort', 'history'],['history_numdays', '90'],['history', 'only'],['nsfw', 'true'],['displayname','${escape(display.display)}']], "/gallery"); return false;`)
                        if (display.images.length > 0)
                            - nsfwFilter1 = ""
                            //if (display.images[0].nsfw && display.images[0].nsfw === 1)
                                - nsfwFilter1 = nsfwFilter
                            if (display.images[0].ratio <= 0.95)
                                div.album-preview.rounded(style=`background-image: url("${display.images[0].preview}"); background-position: top center; ${nsfwFilter1}`)
                            else
                                div.album-preview.rounded(style=`background-image: url("${display.images[0].preview}"); ${nsfwFilter1}`)
                        else
                            div.album-preview.rounded(style=`background: linear-gradient(31deg, #9f3202, #f7c21c);`)
    else
        div.display-results.pt-3
            | No Registered Displays Found or No History
else if (noResults)
    div.display-results.pt-3
        | No Registered Displays Found or No History
else if (nothingDeleted)
    div.display-results.pt-3
        | Nothing was found to delete
else if (deleted)
    div.display-results.pt-3
        | Removed #{deleted} Images from History, Click Refresh Icon
else
    div.display-results.pt-3
        | Unknown Server Fault
