extends layout

block content
    if (results && results.length > 0 )
        //style.
            .background-image {
                background: linear-gradient(-45deg, #4e1700, #450000, #013364, #310053);
                background-size: 400% 400%;
                animation: gradient 120s ease infinite;
            }

            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }
            @media (prefers-color-scheme: light) {

            }
        style.
            .background-image.bg-blur {
                background-image: url("/static/img/bg.webp");
            }
        .table-responsive.p-lg-3.rounded.bg-translucent-lg
            - thisImageManage = false
            each item, index in results
                - if (item.manage) { thisImageManage = true }
            table#dataTable.table.table-borderless(width='100%' cellspacing='0')
                thead.table-header
                    tr
                        th(style="width: 5%")
                        th(style="width: 70%") Filename
                        th(style="width: 15%") Date
                        th(style="width: 10%") Size

                tbody
                    each item, index in results
                        tr.dense-table(id=`message-${item.id}` data-msg-channel-string=`${item.server.name.toUpperCase()}:/${item.channel.class}/${item.channel.name}` data-msg-server=item.server.id data-msg-channel=item.channel.id data-msg-id=item.id data-msg-eid=item.eid data-search-user=`${(item.meta.search) ? encodeURIComponent(item.meta.search) : ''}` data-search-parent=`${(item.meta.parent_search) ? encodeURIComponent(item.meta.parent_search) : ''}` data-search-color=`${(item.entities.meta.color && item.entities.meta.color.length >= 3) ? encodeURIComponent(item.entities.meta.color.join(':')) : ''}` data-nsfw-string=`${(showNSFWString) ? showNSFWString : ''}` data-search-source=`${(item.meta.urls && item.meta.urls.length > 0) ? item.meta.urls[0].split("%60").join("") : ''}` data-msg-permalink=`${(item.permalink) ? item.permalink : ''}` data-msg-displayname=`${(req_uri && (req_uri.includes('displayname=*') || !req_uri.includes('displayname=')) && item.history.real_name) ? item.history.real_name : ''}` data-msg-download=`${(item.entities.download && item.entities.download.length > 5) ? item.entities.download : ''}` data-msg-filename=`${(item.entities.filename) ? item.entities.filename : ''}` data-msg-fileid=`${(item.entities.meta.fileid && item.entities.meta.fileid.length > 2) ? item.entities.meta.fileid : ''}` data-msg-manage=`${(thisImageManage) ? 'true' : 'false'}` data-msg-bodyraw=`${(item.content.raw && item.content.raw.length > 0) ? item.content.raw.split("\n").join('<br/>') : ''}`)
                            if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.jp') || item.entities.preview.toLowerCase().includes('.jfif') || item.entities.preview.toLowerCase().includes('.png') || item.entities.preview.toLowerCase().includes('.gif') || item.entities.preview.toLowerCase().includes('.web')))
                                td.preview-holder
                                    div.preview-image.align-content-start(style=`background-image: url("${item.entities.preview}")`)
                                        if (item.meta.message_type === 'image')
                                            i.fas.fa-image.fa-2x
                                        else if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.mp3') || item.entities.preview.toLowerCase().includes('.m4a') || item.entities.preview.toLowerCase().includes('.flac') || item.entities.preview.toLowerCase().includes('.ogg')))
                                            i.fas.fa-music.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.mp3') || item.entities.filename.toLowerCase().includes('.m4a') || item.entities.filename.toLowerCase().includes('.flac') || item.entities.filename.toLowerCase().includes('.ogg')))
                                            i.fas.fa-music.fa-2x
                                        else if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.mp4') || item.entities.preview.toLowerCase().includes('.mov') || item.entities.preview.toLowerCase().includes('.m4v') || item.entities.preview.toLowerCase().includes('.ts') || item.entities.preview.toLowerCase().includes('.mkv')))
                                            i.fas.fa-film.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.mp4') || item.entities.filename.toLowerCase().includes('.mov') || item.entities.filename.toLowerCase().includes('.m4v') || item.entities.filename.toLowerCase().includes('.ts') || item.entities.filename.toLowerCase().includes('.mkv')))
                                            i.fas.fa-film.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.unity') || item.entities.filename.toLowerCase().includes('.unitypackage') || item.entities.filename.toLowerCase().includes('.material') || item.entities.filename.toLowerCase().includes('.shader') || item.entities.filename.toLowerCase().includes('.vrca') || item.entities.filename.toLowerCase().includes('.asset')))
                                            i.fab.fa-unity.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.blend') || item.entities.filename.toLowerCase().includes('.fbx') || item.entities.filename.toLowerCase().includes('.dae') || item.entities.filename.toLowerCase().includes('.obj') || item.entities.filename.toLowerCase().includes('.c4')))
                                            i.fas.fa-cube.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.zip') || item.entities.filename.toLowerCase().includes('.rar') || item.entities.filename.toLowerCase().includes('.7z')))
                                            i.fas.fa-file-archive.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.psd') || item.entities.filename.toLowerCase().includes('.psb')))
                                            i.fas.fa-layer-group.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.iso') || item.entities.filename.toLowerCase().includes('.cd')))
                                            i.fas.fa-compact-disc.fa-2x
                                        else
                                            i.fas.fa-file.fa-2x
                            else if (item.entities.full && item.entities.full.length > 5 && (item.entities.download.toLowerCase().includes('.jp') || item.entities.download.toLowerCase().includes('.jfif') || item.entities.full.toLowerCase().includes('.png') || item.entities.full.toLowerCase().includes('.gif') || item.entities.full.toLowerCase().includes('.web')))
                                td.preview-holder
                                    div.preview-image.align-content-start(style=`background-image: url("${item.entities.full}")`)
                                        if (item.meta.message_type === 'image')
                                            i.fas.fa-image.fa-2x
                                        else if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.mp3') || item.entities.preview.toLowerCase().includes('.m4a') || item.entities.preview.toLowerCase().includes('.flac') || item.entities.preview.toLowerCase().includes('.ogg')))
                                            i.fas.fa-music.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.mp3') || item.entities.filename.toLowerCase().includes('.m4a') || item.entities.filename.toLowerCase().includes('.flac') || item.entities.filename.toLowerCase().includes('.ogg')))
                                            i.fas.fa-music.fa-2x
                                        else if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.mp4') || item.entities.preview.toLowerCase().includes('.mov') || item.entities.preview.toLowerCase().includes('.m4v') || item.entities.preview.toLowerCase().includes('.ts') || item.entities.preview.toLowerCase().includes('.mkv')))
                                            i.fas.fa-film.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.mp4') || item.entities.filename.toLowerCase().includes('.mov') || item.entities.filename.toLowerCase().includes('.m4v') || item.entities.filename.toLowerCase().includes('.ts') || item.entities.filename.toLowerCase().includes('.mkv')))
                                            i.fas.fa-film.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.unity') || item.entities.filename.toLowerCase().includes('.unitypackage') || item.entities.filename.toLowerCase().includes('.material') || item.entities.filename.toLowerCase().includes('.shader') || item.entities.filename.toLowerCase().includes('.vrca') || item.entities.filename.toLowerCase().includes('.asset')))
                                            i.fab.fa-unity.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.blend') || item.entities.filename.toLowerCase().includes('.fbx') || item.entities.filename.toLowerCase().includes('.dae') || item.entities.filename.toLowerCase().includes('.obj') || item.entities.filename.toLowerCase().includes('.c4')))
                                            i.fas.fa-cube.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.zip') || item.entities.filename.toLowerCase().includes('.rar') || item.entities.filename.toLowerCase().includes('.7z')))
                                            i.fas.fa-file-archive.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.psd') || item.entities.filename.toLowerCase().includes('.psb')))
                                            i.fas.fa-layer-group.fa-2x
                                        else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.iso') || item.entities.filename.toLowerCase().includes('.cd')))
                                            i.fas.fa-compact-disc.fa-2x
                                        else
                                            i.fas.fa-file.fa-2x
                            else
                                td.preview-icon
                                    if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.mp3') || item.entities.preview.toLowerCase().includes('.m4a') || item.entities.preview.toLowerCase().includes('.flac') || item.entities.preview.toLowerCase().includes('.ogg')))
                                        .table-icon
                                            i.fas.fa-music.fa-2x
                                    else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.mp3') || item.entities.filename.toLowerCase().includes('.m4a') || item.entities.filename.toLowerCase().includes('.flac') || item.entities.filename.toLowerCase().includes('.ogg')))
                                        .table-icon
                                            i.fas.fa-music.fa-2x
                                    else if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.mp4') || item.entities.preview.toLowerCase().includes('.mov') || item.entities.preview.toLowerCase().includes('.m4v') || item.entities.preview.toLowerCase().includes('.ts') || item.entities.preview.toLowerCase().includes('.mkv')))
                                        .table-icon
                                            i.fas.fa-film.fa-2x
                                    else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.mp4') || item.entities.filename.toLowerCase().includes('.mov') || item.entities.filename.toLowerCase().includes('.m4v') || item.entities.filename.toLowerCase().includes('.ts') || item.entities.filename.toLowerCase().includes('.mkv')))
                                        .table-icon
                                            i.fas.fa-film.fa-2x
                                    else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.unity') || item.entities.filename.toLowerCase().includes('.unitypackage') || item.entities.filename.toLowerCase().includes('.material') || item.entities.filename.toLowerCase().includes('.shader') || item.entities.filename.toLowerCase().includes('.vrca') || item.entities.filename.toLowerCase().includes('.asset')))
                                        .table-icon
                                            i.fab.fa-unity.fa-2x
                                    else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.blend') || item.entities.filename.toLowerCase().includes('.fbx') || item.entities.filename.toLowerCase().includes('.dae') || item.entities.filename.toLowerCase().includes('.obj') || item.entities.filename.toLowerCase().includes('.c4')))
                                        .table-icon
                                            i.fas.fa-cube.fa-2x
                                    else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.zip') || item.entities.filename.toLowerCase().includes('.rar') || item.entities.filename.toLowerCase().includes('.7z')))
                                        .table-icon
                                            i.fas.fa-file-archive.fa-2x
                                    else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.psd') || item.entities.filename.toLowerCase().includes('.psb')))
                                        .table-icon
                                            i.fas.fa-layer-group.fa-2x
                                    else if (item.entities.filename !== null && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.iso') || item.entities.filename.toLowerCase().includes('.cd')))
                                        .table-icon
                                            i.fas.fa-compact-disc.fa-2x
                                    else
                                        .table-icon
                                            i.fas.fa-file.fa-2x

                            td
                                span.align-middle #{item.entities.filename}
                                div.text-primary
                                    if (thisImageManage)
                                        .file-select.d-inline-block.hidden
                                            a#checkItem.btn.selectPostToMode.file-CheckItem(title="Select Item" href='#_' onclick=`selectPostToMode("${item.id}", true); return false;`)
                                                i.fas.fa-check-circle.text-white(id='select-' + item.id)
                                            a#unCheckItem.btn.deselectPostToMode.file-unCheckItem.hidden(title="Deselect Item" href='#_' onclick=`deselectPostToMode("${item.id}");return false;`)
                                                i.fas.fa-check-circle(id='select-' + item.id)
                                    .btn-group.d-inline-block
                                        if (item.entities.meta.fileid && item.entities.filename && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.mp3') || item.entities.filename.toLowerCase().includes('.m4a') || item.entities.filename.toLowerCase().includes('.ogg') || item.entities.filename.toLowerCase().includes('.wav')))
                                            a.btn.btn-switchmode(title="Play Audio" href='#_' onclick=`openUnpackingFiles("${item.entities.meta.fileid}", "audio"); return false;` id=`play-${item.id}`)
                                                i.fas.fa-play
                                        else if (item.entities.download && item.entities.download.length > 5 && (item.entities.download.toLowerCase().includes('.mp3') || item.entities.download.toLowerCase().includes('.m4a') || item.entities.download.toLowerCase().includes('.ogg') || item.entities.download.toLowerCase().includes('.wav')))
                                            a.btn.btn-switchmode(title="Play Audio" href='#_' onclick=`PlayTrack("${item.entities.download}"); return false;` id=`play-${item.id}`)
                                                i.fas.fa-play
                                        else if (item.entities.full && item.entities.full.length > 5 && (item.entities.full.toLowerCase().includes('.mp3') || item.entities.full.toLowerCase().includes('.m4a') || item.entities.full.toLowerCase().includes('.ogg') || item.entities.full.toLowerCase().includes('.wav')))
                                            a.btn.btn-switchmode(title="Play Audio" href='#_' onclick=`PlayTrack("${item.entities.full}"); return false;` id=`play-${item.id}`)
                                                i.fas.fa-play
                                        else if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.mp3') || item.entities.preview.toLowerCase().includes('.m4a') || item.entities.preview.toLowerCase().includes('.ogg') || item.entities.preview.toLowerCase().includes('.wav')))
                                            a.btn.btn-switchmode(title="Play Audio" href='#_'  onclick=`PlayTrack("${item.entities.preview}"); return false;` id=`play-${item.id}`)
                                                i.fas.fa-play
                                        else if (item.entities.meta.fileid && item.entities.filename && item.entities.filename.length > 5 && (item.entities.filename.toLowerCase().includes('.mp4') || item.entities.filename.toLowerCase().includes('.webm') || item.entities.filename.toLowerCase().includes('.mov') || item.entities.filename.toLowerCase().includes('.m4v')))
                                            a.btn.btn-switchmode(title="Play Video" href='#_'  onclick=`openUnpackingFiles("${item.entities.meta.fileid}", "video"); return false;` id=`play-${item.id}`)
                                                i.fas.fa-play
                                        else if (item.entities.download && item.entities.download.length > 5 && (item.entities.download.toLowerCase().includes('.mp4') || item.entities.download.toLowerCase().includes('.webm') || item.entities.download.toLowerCase().includes('.webm') || item.entities.download.toLowerCase().includes('.m4v')))
                                            a.btn.btn-switchmode(title="Play Video" href='#_' onclick=`PlayVideo("${item.entities.download}"); return false;` id=`play-${item.id}`)
                                                i.fas.fa-play
                                        else if (item.entities.full && item.entities.full.length > 5 && (item.entities.full.toLowerCase().includes('.mp4') || item.entities.full.toLowerCase().includes('.webm') || item.entities.full.toLowerCase().includes('.webm') || item.entities.full.toLowerCase().includes('.m4v')))
                                            a.btn.btn-switchmode(title="Play Video" href='#_' onclick=`PlayVideo("${item.entities.full}"); return false;` id=`play-${item.id}`)
                                                i.fas.fa-play
                                        else if (item.entities.preview && item.entities.preview.length > 5 && (item.entities.preview.toLowerCase().includes('.mp4') || item.entities.preview.toLowerCase().includes('.webm') || item.entities.preview.toLowerCase().includes('.mov') || item.entities.preview.toLowerCase().includes('.m4v')))
                                            a.btn.btn-switchmode(title="Play Video" href='#_'  onclick=`PlayVideo("${item.entities.preview}"); return false;` id=`play-${item.id}`)
                                                i.fas.fa-play
                                        if (item.entities.meta.fileid)
                                            a.btn.btn-switchmode(title="Download File" href='#_' onclick=`openUnpackingFiles("${item.entities.meta.fileid}"); return false;`)
                                                i.fas.fa-download
                                        else if (item.entities.download && item.entities.download.length > 5)
                                            a.btn(id=`request-download-${item.id}` title="Download" download=item.entities.filename href=item.entities.download target="_blank" rel="noopener noreferrer" class=((item.meta.cached) ? 'btn-switchmode' : 'btn-stream'))
                                                i.fas.fa-download
                                        //if (item.permalink)
                                            a.btn.btn-fav(title="Permalink" href=item.permalink)
                                                i.fas.fa-link

                                    .btn-group.file-tools.d-inline-block
                                        if (user && user.source < 900)
                                            a.btn.btn-fav(id='fav-' + item.eid data-placement="top" title="Toggle Favorite" href='#_' onclick=`toggleFavorite("${item.channel.id}", "${item.eid}"); return false;`)
                                                i.btn-fav.fas.fa-star(class=`${(item.pinned) ? 'favorited' : ''}`)
                                            a.btn.btn-fav(data-placement="top" title="Add or Remove from Album" href='#_' onclick=`refreshAlbumsList("${item.eid}"); return false;`)
                                                i.fas.fa-archive
                                            a.btn.btn-fav(data-placement="top" title=`Search content related to this image` href='#_' onClick=`showSearchOptions('${item.id}', ${(thisImageManage && user && user.source < 900)}); return false;`)
                                                i.fas.fa-info-circle
                            td.d-none.d-sm-table-cell #{item.date.pretty}
                            td.d-none.d-sm-table-cell #{item.entities.meta.filesize} MB
    else

        style.
            .background-image:not(.overlay) {
                background-image: url('/static/img/loading_bg.jpg');
            }
        .alert.alert-danger(role='alert')
            h4.alert-heading No Results
            p
                | Your search query or requested channel is either invalid or does not contain any gallery content
            hr
            p.mb-0
                | Please go back to a valid channel or retry your search with another (maybe less specific) query

