- let enableUploadTools = false
if (write_channels && write_channels.length > 0 )
    - enableUploadTools = true
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes, viewport-fit=cover, user-scalable=no')
        meta(name='description', content='Sequenzia')
        meta(name='author', content='Yukimi Kazari')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(content="Sequenzia" property="og:title")
        meta(content="Image Gallery and File Manager" property="og:description")
        meta(content="Sequenzia" property="og:site_name")
        link(rel='preload', href="/static/font/london2012.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-light-300.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-thin-100.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-duotone-900.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        //meta(name="theme-color" content="#4285f4")
        link(rel='apple-touch-icon' sizes='180x180' href='/static/img/icons/android/android-launchericon-192-192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/static/img/icons/firefox/firefox-general-32-32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/static/img/icons/chrome/firefox-general-16-16.png')
        link(rel='manifest' href='/static/manifest.json')
        title= `${webconf.site_name}`

        link(rel='preload', href="/static/vendor/fontawesome/css/all.min.css" as='style')
        link(rel='preload', href="/static/css/sb-admin-2.min.css" as='style')
        link(rel='preload', href="/css/custom-lite.min.css" as='style')
        link(rel='preload', href="/css/home-lite.min.css" as='style')

        link(rel='preload', href='/static/vendor/jquery/jquery.min.js' as='script')
        link(rel='preload', href='/static/js/sb-admin-2.min.js' as='script')
        link(rel='preload', href='/static/vendor/bootstrap/js/bootstrap.bundle.min.js' as='script')
        //link(rel='preload', href='/static/vendor/jquery-easing/jquery.easing.min.js' as='script')

        link(rel='stylesheet', href="/static/vendor/fontawesome/css/all.min.css")
        link(rel='stylesheet', href='/static/css/sb-admin-2.min.css')
        link(rel='stylesheet', href="/css/custom-lite.min.css")
        link(rel='stylesheet', href="/css/home-lite.min.css")
        link(rel='stylesheet' type='text/css' href='/static/css/toast.min.css')

        script(src="/static/vendor/jquery/jquery.min.js")
        script(src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js")
        script(type='text/javascript' src="/static/js/toast.min.js")
        script(type='text/javascript' src="/js/client/home-lite.min.js")

        style.
            @supports (-webkit-touch-callout: initial) { body { height: 100vh; } }
    body
        if (discord)
            #homeBg.background-image.overlay.animated--fade-in
            #previewBG.background-image.blur-this(style=`z-index: -102!important; background-image: url('/static/img/loading_bg.jpg'); display: none;`)
            #fullBG.background-image.full-image-holder(style=`z-index: -101!important; background-image: url('/static/img/loading_bg.jpg'); display: none;`)
            img#portraitBG.portait-overlay.full-image-holder.center-block(style="z-index: -100!important; display: none;" src='/static/img/loading_bg.jpg')
            img#landscapeBG.landscape-overlay.full-image-holder.center-block(style="z-index: -100!important; display: none;" src='/static/img/loading_bg.jpg')
            #cover.background-image(style=`z-index: -99!important; background-color: black`)
        else
            #homeBg.background-image.overlay.animated--fade-in
            #fullBG.background-image(style=`z-index: -101!important; display: none;`)
            #cover.background-image(style=`z-index: -99!important; background-color: black`)
            script.
                function preventDefault(e) {
                    e.preventDefault();
                }
                document.body.addEventListener('touchmove', preventDefault, {passive: false});
                const images = [
                    "https://cdn.discordapp.com/attachments/731362512288743474/794177778727387146/himanemuitoma-EqkKCaRVoAE-ye_.jpg",
                    "https://cdn.discordapp.com/attachments/716529641808199690/781596429759152128/niku_kueyo-Emts0IsVQAIhjEF.jpg",
                    "https://cdn.discordapp.com/attachments/731622192701243473/731655888401727590/02123_IMG_0426.JPG",
                    "https://cdn.discordapp.com/attachments/731622192701243473/731655902360240209/00053_IMG_0242.JPG",
                    "https://cdn.discordapp.com/attachments/731357998693220393/731362671760506941/00198_illu_kamo-957204765783474177-20180127_055254-img1.jpg",
                    "https://cdn.discordapp.com/attachments/731622192701243473/784619426099626004/xroom8x-D4RWoYYUcAAzMfS.jpg", ,
                    "https://cdn.discordapp.com/attachments/716529641808199690/794738820821942282/77959814_p0.png",
                    "https://cdn.discordapp.com/attachments/716529641808199690/791378394393739294/luto_gray000-Epod4rhU0AAri0d.jpg",
                    "https://cdn.discordapp.com/attachments/716529641808199690/793449761742913546/soji_____0o0-EqZpYG7VEAApe6R.jpg",
                    "https://cdn.discordapp.com/attachments/731622192701243473/785291479505043486/lm7__-En-y68ZUcAAmxPj.jpg",
                    "https://cdn.discordapp.com/attachments/731622192701243473/731655894408101928/00011_IMG_0731.JPG"
                ];
                document.getElementById('homeBg').style.backgroundImage = 'url(' + images[Math.floor(Math.random() * images.length)] + ')';
                document.getElementById('cover').classList.add('fadeOut');
        ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion.toggled
            #sidebar
                if (!(sidebar && sidebar.length > 0))
                    script.
                        getSidebar();
                else
                    // Sidebar was preloaded from session data! FAST BOI
                    .overlay-sidebarbg(onclick="toggleMenu(); return false;")
                        span.sidebar-brand-logo.sequenzia-logo sequenzia
                    if (sidebar && sidebar.length > 0)
                        each thisSuperClass, superIndex in sidebar
                            // Heading
                            .sidebar-heading
                                span #{thisSuperClass.name}
                            // Generated Item - #{classificationType}
                            each thisClass in thisSuperClass.entities
                                li.nav-item(id=`${thisClass.id}`)
                                    a.nav-link.collapsed(data-tooltip="tooltip" data-trigger="hover" data-placement="right" title=`${thisClass.name}` href='#_' data-toggle='collapse' data-target=`#${thisClass.id}Menu` id=thisClass.id)
                                        i.fas(class=thisClass.icon)
                                        span.text-capitalize #{thisClass.name}
                                    div.collapse(aria-labelledby=thisClass.id + 'Menu' data-parent='#accordionSidebar' id=`${thisClass.id}Menu` class=isVisible)
                                        .bg-white.py-2.collapse-inner.rounded
                                            if (thisClass.entities.length > 1)
                                                a.collapse-item.text-capitalize.icon-padding(data-tooltip="tooltip" data-trigger="hover" data-placement="right" title=`View All from ${thisClass.name}` style='font-weight: bolder;' id=`all-${thisClass.id}` href=`#/${(thisClass.uri) ? thisClass.uri : thisSuperClass.uri}?folder=${thisClass.id}:*&nsfw=true`) Everything
                                                    div.d-inline-flex(style="position: absolute;right: 1.5rem;margin-top: 0.2rem;")
                                                        if (thisClass.uri === 'gallery')
                                                            i.fas.fa-photo-video.ml-1
                                                        else if (thisClass.uri === 'files')
                                                            i.fas.fa-folder.ml-1
                                                        else if (thisClass.uri === 'cards')
                                                            i.fas.fa-sticky-note.ml-1
                                                        else if (thisSuperClass.uri === 'gallery')
                                                            i.fas.fa-photo-video.ml-1
                                                        else if (thisSuperClass.uri === 'files')
                                                            i.fas.fa-folder.ml-1
                                                        else if (thisSuperClass.uri === 'cards')
                                                            i.fas.fa-sticky-note.ml-1
                                            - let nsfwIndex = ''
                                            - _mergedChannels = thisClass.entities.filter((e) => { return e.type === 2})
                                            if (_mergedChannels.length > 0)
                                                .collapse-header
                                                    i.fas.fa-folder-tree.pr-1
                                                    | Virtual Channels
                                                each thisVirtualChannel, indexChannel in _mergedChannels
                                                    - let nsfwSearch = ''
                                                    if (thisVirtualChannel.nsfw)
                                                        - nsfwSearch = "&nsfw=true"
                                                        - nsfwIndex = "&nsfw=true"
                                                    div.d-flex.collapse-item.virtual-channel(data-tooltip="tooltip" data-trigger="hover" data-placement="right" title=`Virtual:/${thisClass.id}/${thisVirtualChannel.name}` id="vc_" + thisVirtualChannel.id)
                                                        a.text-capitalize(href=`#/${thisSuperClass.uri}?vchannel=${thisVirtualChannel.id}${nsfwSearch}`) #{thisVirtualChannel.name}
                                                            div.d-inline-flex(style="position: absolute;right: 1.5rem;margin-top: 0.2rem;")
                                                                if (thisVirtualChannel.nsfw)
                                                                    i.fas.fa-exclamation-triangle(style="color: #ff4a4a;")
                                                        a.ml-auto.d-flex(data-toggle='collapse' href='#_' role='button' aria-expanded='false' data-target='#vc_c_' + thisVirtualChannel.id)
                                                            i.fas.fa-chevron-right.align-self-center
                                                    .collapse.m-0(id='vc_c_' + thisVirtualChannel.id style="position: unset;")
                                                        each thisChannel, indexChannel in thisVirtualChannel.entities
                                                            - if (manage_channels && manage_channels.length > 0 && manage_channels.indexOf(thisChannel.id) !== -1) { enableManageTools = true }
                                                            - let nsfwSearch = ''
                                                            if (thisChannel.nsfw)
                                                                - nsfwSearch = "&nsfw=true"
                                                                - nsfwIndex = "&nsfw=true"
                                                            a.collapse-item.text-capitalize.icon-padding.inner-item(data-tooltip="tooltip" data-trigger="hover" data-placement="right" title=`${thisChannel.server_short_name}:/${thisClass.id}/${thisChannel.name}` id=thisChannel.id href=`#/${(thisChannel.uri) ? thisChannel.uri : (thisClass.uri) ? thisClass.uri : thisSuperClass.uri}?channel=${thisChannel.id}${nsfwSearch}`) #{thisChannel.name}
                                                                div.d-inline-flex(style="position: absolute;right: 1.5rem;margin-top: 0.2rem;")
                                                                    if (thisChannel.nsfw)
                                                                        i.fas.fa-exclamation-triangle(style="color: #ff4a4a;").mr-1
                                                                    i.fas.fa-clone

                                            each thisServer, indexServer in server.sort()
                                                - _channels = thisClass.entities.filter((e) => { return e.server === thisServer.id && e.type === 0})
                                                if (_channels.length > 0)
                                                    .collapse-header
                                                        i.fas.fa-database.pr-1
                                                        span #{thisServer.name}
                                                    if (_channels.length > 2)
                                                        a.collapse-item.text-capitalize.icon-padding(data-tooltip="tooltip" data-trigger="hover" data-placement="right" title=`View All from ${thisServer.name}` style='font-weight: bolder;' id=`all-${thisClass.id}` href=`#/${(thisClass.uri) ? thisClass.uri : thisSuperClass.uri}?folder=${thisServer.short_name}:/${thisClass.id}:*&nsfw=true`) This Server
                                                            div.d-inline-flex(style="position: absolute;right: 1.5rem;margin-top: 0.2rem;")
                                                                if (thisClass.uri === 'gallery')
                                                                    i.fas.fa-photo-video.ml-1
                                                                else if (thisClass.uri === 'files')
                                                                    i.fas.fa-folder.ml-1
                                                                else if (thisClass.uri === 'cards')
                                                                    i.fas.fa-sticky-note.ml-1
                                                                else if (thisSuperClass.uri === 'gallery')
                                                                    i.fas.fa-photo-video.ml-1
                                                                else if (thisSuperClass.uri === 'files')
                                                                    i.fas.fa-folder.ml-1
                                                                else if (thisSuperClass.uri === 'cards')
                                                                    i.fas.fa-sticky-note.ml-1
                                                each thisChannel, indexChannel in _channels
                                                    - if (manage_channels && manage_channels.length > 0 && manage_channels.indexOf(thisChannel.id) !== -1) { enableManageTools = true }
                                                    - let nsfwSearch = ''
                                                    if (thisChannel.nsfw)
                                                        - nsfwSearch = "&nsfw=true"
                                                        - nsfwIndex = "&nsfw=true"
                                                    a.collapse-item.text-capitalize.icon-padding(data-tooltip="tooltip" data-trigger="hover" data-placement="right" title=`${thisServer.short_name}:/${thisClass.id}/${thisChannel.name}` id=thisChannel.id href=`#/${(thisChannel.uri) ? thisChannel.uri : (thisClass.uri) ? thisClass.uri : thisSuperClass.uri}?channel=${thisChannel.id}${nsfwSearch}`) #{thisChannel.name}
                                                        div.d-inline-flex(style="position: absolute;right: 1.5rem;margin-top: 0.2rem;")
                                                            if (thisChannel.nsfw)
                                                                i.fas.fa-exclamation-triangle(style="color: #ff4a4a;")
                                                            if (thisChannel.uri || thisClass.uri)
                                                                if (thisChannel.uri && thisSuperClass.uri !== thisChannel.uri)
                                                                    if (thisChannel.uri === 'gallery')
                                                                        i.fas.fa-photo-video.ml-1
                                                                    else if (thisChannel.uri === 'files')
                                                                        i.fas.fa-folder.ml-1
                                                                    else if (thisChannel.uri === 'cards')
                                                                        i.fas.fa-sticky-note.ml-1
                                                                else if (!thisChannel.uri && thisClass.uri && thisSuperClass.uri !== thisClass.uri)
                                                                    if (thisClass.uri === 'gallery')
                                                                        i.fas.fa-photo-video.ml-1
                                                                    else if (thisClass.uri === 'files')
                                                                        i.fas.fa-folder.ml-1
                                                                    else if (thisClass.uri === 'cards')
                                                                        i.fas.fa-sticky-note.ml-1
                                            .collapse-header
                                                i.fas.fa-atlas.pr-1
                                                | Indexes
                                            a.collapse-item.text-capitalize.icon-padding(data-tooltip="tooltip" data-trigger="hover" data-placement="right" title="Index of all artists" style='font-weight: bolder;' id=`artists-${thisClass.id}` href=`#/artists?folder=${thisClass.id}:*${nsfwIndex}`) Artists
                                                div.d-inline-flex(style="position: absolute;right: 1.5rem;margin-top: 0.2rem;")
                                                    i.fas.fa-atlas.ml-1
                                            - _custom_channels = thisClass.entities.filter((e) => { return e.type === 1})
                                            if (_custom_channels.length > 0)
                                                .collapse-header
                                                    i.fas.fa-tags.pr-1
                                                    | Quick Access
                                                each thisCustomChannel in _custom_channels
                                                    a.collapse-item.text-capitalize.icon-padding(title=thisCustomChannel.name id=thisCustomChannel.id href=`#/${thisCustomChannel.url}`) #{thisCustomChannel.name}
                                                        div.d-inline-flex(style="position: absolute;right: 1.5rem;margin-top: 0.2rem;")
                                                            if (thisCustomChannel.nsfw)
                                                                i.fas.fa-exclamation-triangle(style="color: #ff4a4a;")
                                                            i.fas.fa-tag.ml-1
                        hr#seqLogoDivider.sidebar-divider.d-none.d-md-block
                        //li#seqLogoIcon
                            img.sidebar-brand-logo.main-logo-small(src='/static/img/sequenzia-logo-mini.png' style='height: 2.1em; opacity: 0.78;')
                        //li#seqLogoWide
                            span.sidebar-brand-logo.sequenzia-logo(style='font-size: 1.8rem; color: rgba(255,255,255,0.78);') sequenzia
                        li.server-grid-container.text-center.mt-3
                            .server-grid.d-inline-block
                                .server-grid-parent(style=`grid-template-columns: repeat(${discord.servers.list.slice(0, 4).length}, minmax(45px, 40px));`)
                                    for thisServer, thisServerIndex in discord.servers.list.slice(0,4)
                                        .server-grid-child(style=`z-index: ${4 - thisServerIndex}`)
                                            img.server-icon.rounded-circle(title=`${thisServer.name}\n(${(thisServer.login === 1) ? 'Login Server' : 'Storage'})` src=thisServer.icon id=`server-${thisServer.serverid}`)
                        div#sidebarbottompadding
                    else
                        .sidebar-card.text-primary.text-center
                            img.img-profile.rounded-circle(src=user.avatar style="width: 176px;")
                            .sidebar-divider.mb-3
                            strong Access Denied
                            strong
                                a.dropdown-item(title="Leave Now" href='#_' data-toggle='modal' data-target='#logoutModal').text-danger
                                    i.fas.fa-exclamation-triangle.fa-sm.fa-fw.mr-2.text-danger
                                    | Logout
        .container.p-4
            .fixed-top.m-sm-5.m-3.d-flex.d-md-none.dimmed(style='z-index: 1; padding-top: env(safe-area-inset-top)!important;')
                a(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Go to Sequenzia', href='/')
                    span.sidebar-brand-logo.sequenzia-logo( style="font-size: 2.4em;padding-left: .3rem; text-shadow: 1px 1px 19px #000;") sequenzia
            if (discord)
                .fixed-top.m-sm-5.m-3.no-short(style='padding-top: env(safe-area-inset-top)!important;')
                    .d-flex.justify-content-end(style='opacity: 0.8;')
                        span.align-self-center.d-none.d-sm-inline(style='font-size: 1.6em; color: white; font-weight: 300; padding: 0 0.5em 0 0; -webkit-text-stroke: 1px #00000069; text-shadow: 0px 0px 10px #000000a6;') #{user.username}
                        a#userDropdown.pr-0(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title="User Account and Settings" href='#_' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            img.img-profile.rounded-circle(style='width: 2.5em; height: 2.5em; box-shadow: 0 0 8px black; -webkit-text-stroke: 1px #00000069; text-shadow: 0px 0px 10px #000000a6;' src=user.avatar)
                        // Dropdown - User Information
                        .dropdown-menu.dropdown-menu-tas.shadow(aria-labelledby='userDropdown')
                            .input-group(style="width: 13rem;").pr-2.pl-2.pb-2
                                .input-group-prepend
                                    span.input-group-text(style="background: #ad400059!important; border: 1px solid #9c5b3e; border-right: none;")
                                        i.fas.fa-key.fa-sm.align-middle.text-primary
                                input#expressLoginCode(type='text' placeholder='123ABC' style="background: #ad400059!important; border: 1px solid #9c5b3e;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false").m-0.form-control.form-text.input-group-text.border-left-0.text-uppercase.text-white
                                .input-group-append
                                    a.btn.btn-success(title="Transfer Login to this device" href='#_' onClick=`authwareLogin(); return false;`)
                                        span Login
                            a.dropdown-item(title="Refresh Session" href='/discord/refresh')
                                i.fas.fa-sync.fa-sm.fa-fw.mr-2
                                | Update Account
                            a.dropdown-item(href='#_' data-toggle='modal' data-target='#logoutModal').text-danger
                                i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-danger
                                | Logout
                #midSearch.mid-center-block
                    .animated--grow-in.shadow-blk-wide
                        div#menuAccordion(style='display: contents')
                            div#menuItemMain(class="collapse show" data-parent="#menuAccordion")
                                .dimmed.d-flex
                                    .flex-grow-1
                                        a.d-none.d-md-inline-block.d-sm-none(data-tooltip="tooltip" data-trigger="hover" data-placement="top" title='Start juneOS', href='/juneOS#')
                                            span.sidebar-brand-logo.sequenzia-logo( style="font-size: 2.6em;line-height: 0.9em;padding-left: .3rem; text-shadow: 1px 1px 19px #000;") sequenzia
                                        a#btnShowNavigator.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_').d-md-none
                                            i.shadow-blk.fas.fa-sidebar

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            //a.pr-2.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="top" title='Start juneOS', href='/juneOS#')
                                                i.shadow-blk.fas.fa-house
                                            a.pr-2.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="top" title='Latest Media', href='/gallery?numdays=60&sort=eid')
                                                i.shadow-blk.fas.fa-photo-video
                                            a.pr-2.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="top" title='Latest Files', href=`/files?numdays=60&sort=eid&filesonly=true`)
                                                i.shadow-blk.fas.fa-folder
                                            a.pr-2.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="top" title="I'm Feeling Lucky", href='/gallery?sort=random')
                                                i.shadow-blk.fas.fa-dice
                                            a.pr-2.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="top" title="Your Favorites", href='/gallery?sort=fav&pins=true')
                                                i.shadow-blk.fas.fa-star
                                            a.pr-2.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="top" title="User Albums" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemAlbums")
                                                i.shadow-blk.fas.fa-archive
                                            //a.pr-2.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Image History', style='text-decoration: none;', href='/gallery?sort=history&history_numdays=60&history=only&displayname=*&nsfw=true')
                                                i.shadow-blk.fas.fa-history
                                            a.pr-2.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="top" title="Applications" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemApps")
                                                i.shadow-blk.fas.fa-browsers
                            div#menuItemAlbums.menu-object(class="collapse" data-parent="#menuAccordion" style='max-width: 600px;')
                                .dimmed.d-flex
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.shadow-blk.fas.fa-archive.pr-2
                                            span Albums
                                .d-flex(style='max-width: 600px;').mb-3
                                    if (albums && albums.length > 0)
                                        div.album-list
                                            each thisAlbum in albums
                                                div.album-item.position-relative
                                                    div.album-info.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2.pt-1.dimmed(style="justify-content: left; top: 0;")
                                                        //x.uri, x.privacy
                                                        div.album-icon
                                                            if (thisAlbum.uri === 'gallery')
                                                                i.far.fa-photo-video.pr-1
                                                            else if (thisAlbum.uri === 'files')
                                                                i.far.fa-folder.pr-1
                                                            else if (thisAlbum.uri === 'cards')
                                                                i.far.fa-sticky-note.pr-1
                                                            else
                                                                i.far.fa-archive.pr-1
                                                    div.album-info.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2.dimmed(style="justify-content: left; bottom: 0; background: #00000091")
                                                        span #{thisAlbum.name}
                                                    a.position-absolute.text-capitalize(style='height: 100%; width: 100%' title=thisAlbum.name href=`#/${thisAlbum.uri}?album=${thisAlbum.aid}&sort=album`)
                                                        if (thisAlbum.image)
                                                            div.album-preview(style=`background-image: url("${thisAlbum.image}");`)
                                                        else
                                                            div.album-preview(style=`background: linear-gradient(31deg, #9f3202, #f7c21c);`)
                                    else
                                        span No Albums!
                            div#menuItemApps.menu-object(class="collapse" data-parent="#menuAccordion" style='max-width: 600px;')
                                .dimmed.d-flex
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.shadow-blk.fas.fa-browsers.pr-2
                                            span Apps
                                .dimmed.d-flex(style='max-width: 600px;').mb-3
                                    div.menu-grid.user-menu-small
                                        a.user-menu-item.hover-color.d-flex.flex-column(title="Launch Ambient Display Web App" href='/ambient?displayname=Untitled' target="_blank" rel="noopener noreferrer")
                                            i.shadow-blk.fas.fa-tv
                                            | Photo Frame
                                        if (applications_list && applications_list.length > 0)
                                            each thisApp in applications_list
                                                if (thisApp.type == 0)
                                                    a.user-menu-item.hover-color.d-flex.flex-column(title=`Open ${thisApp.name}` href=thisApp.url target="_blank" rel="noopener noreferrer")
                                                        i.shadow-blk.fas(class=`${thisApp.icon}`)
                                                        | #{thisApp.name}
                                                else
                                                    a.user-menu-item.hover-color.d-flex.flex-column(title=`Launch ${thisApp.name}` href=`#/app/launch/${thisApp.id}`)
                                                        i.shadow-blk.fas(class=`${thisApp.icon}`)
                                                        | #{thisApp.name}
                        if (url)
                            if (url.includes('search=true'))
                                form#srchfrm.shadow-blk.search-box(spellcheck='false', role='search', action='https://www.bing.com/search?scope=web', target='_self', method='get')
                                    .input-group
                                        input#q.form-control(name='q', placeholder='Search', title='Enter your search term', autocomplete='off', maxlength='250', aria-label='Enter your search term', accesskey='S', type='search', style='font-size: larger; padding: 1.25em;')
                                        input(type="submit" style="visibility:hidden;position:absolute")
                                        .input-group-append
                                            a#btnSearch.btn.input-group-text.bg-home-search.btn-search(title='Search Internet', href='#_')
                                                i.i.fas.fa-search.fa-sm.align-middle.nav-item(style='font-size: 1.3em;')
                                            a#btnSearchGallery.btn.input-group-text.bg-home-search.btn-search(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Search Images', href='#_')
                                                i.i.fas.fa-image.fa-sm.align-middle.nav-item(style='font-size: 1.3em;')
                                            a#btnSearchFiles.btn.input-group-text.bg-home-search.btn-search(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Search Files', href='#_')
                                                i.i.fas.fa-folder.fa-sm.align-middle.nav-item(style='font-size: 1.3em;')
                            else
                                form#srchfrm.shadow-blk.search-box(spellcheck='false', role='search', action='/gallery', target='_self', method='get')
                                    .input-group
                                        input#search.form-control(name='search', placeholder='Search', title='Enter your search term', autocomplete='off', maxlength='250', aria-label='Enter your search term', accesskey='S', type='search', style='font-size: larger; padding: 1.25em;')
                                        input(type="hidden" name="channel" value="random")
                                        input(type="hidden" name="pageinator" value="true")
                                        input(type="submit" style="visibility:hidden;position:absolute")
                                        .input-group-append
                                            a#btnSearchGallery.btn.input-group-text.bg-home-search.btn-search(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Search Images', href='#_')
                                                i.i.fas.fa-image.fa-sm.align-middle.nav-item(style='font-size: 1.3em;')
                                            a#btnSearchFiles.btn.input-group-text.bg-home-search.btn-search(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Search Files', href='#_')
                                                i.i.fas.fa-folder.fa-sm.align-middle.nav-item(style='font-size: 1.3em;')
                    .animated--grow-in(style="max-width: 600px; width: 80vw;")
                        .dimmed.d-none.d-sm-flex
                            div(style='font-size: 1.3rem; font-weight: 100; min-width: 0; overflow: hidden; flex: 1; text-overflow: ellipsis; white-space: nowrap;')
                                .d-inline(style='white-space: nowrap;  flex: 1;')
                                    a.ajax-imageLink(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='View this background photo')
                                        .d-inline-block(style='padding: 0 0.25rem 0 0')
                                            i.fas.fa-star.shadow-text.ajax-imageFav.d-none(style='font-size: 16px; vertical-align: middle; padding-bottom: 8px;')
                                        span.ajax-imageLocation.text-capitalize.shadow-text ...
                                        div(style='padding: 0 0.5rem; display: inline;').middle-indicator.d-none
                                            i.fas.fa-circle.shadow-text(style='font-size: 8px; vertical-align: middle;')
                                        span.ajax-imageDate.shadow-text
                            .d-flex.flex-column.justify-content-center.bottom-icon.ml-2(style="flex: 0 0 auto;")
                                div(style='font-size: 1.3rem; font-weight: 100;')
                                    a.d-inline.hover-color.pr-2(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Reload Page', style='text-decoration: none;', href='#_' onclick='getRandomImage(); return false;')
                                        i.i.fas.fa-sync.fa-sm.shadow-blk
                                    a.ajax-downloadLink.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Download Background Image', target='_blank', rel='noopener noreferrer', style='text-decoration: none;')
                                        i.i.fas.fa-download.fa-sm.shadow-blk

                if (discord && discord.servers.list)
                    div.mid-center-block.server-list.dimmed
                        div
                            for thisServer in discord.servers.list
                                img.server-icon.rounded-circle.shadow-blk(data-tooltip="tooltip" data-trigger="hover" data-placement="top"  title=thisServer.name src=thisServer.icon id=`server-${thisServer.serverid}`)

                .fixed-bottom.d-flex.d-sm-none.dimmed.m-3(style='z-index: 1; padding-bottom: env(safe-area-inset-bottom)!important;')
                    div(style='min-width: 0; overflow: hidden; flex: 1; text-overflow: ellipsis; white-space: nowrap;')
                        .d-inline(style='white-space: nowrap;  flex: 1;')
                            a.ajax-imageLink(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='View the background photo')
                                .d-inline-block(style='padding: 0 0.25rem 0 0')
                                    i.fas.fa-star.shadow-text.d-none.ajax-imageFav(style='font-size: 16px; vertical-align: middle; padding-bottom: 8px;')
                                span.ajax-imageLocation.text-capitalize.shadow-text ...
                                div(style='padding: 0 0.5rem; display: inline;').middle-indicator.d-none
                                    i.fas.fa-circle.shadow-text(style='font-size: 8px; vertical-align: middle;')
                                span.ajax-imageDate.shadow-text
                    .d-flex.flex-column.justify-content-center.ml-2(style="flex: 0 0 auto;")
                        a.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Reload Page', style='text-decoration: none;', href='#_' onclick='getRandomImage(); return false;')
                            i.i.fas.fa-sync.fa-sm.shadow-blk
                    .d-flex.flex-column.justify-content-center.ml-2(style="flex: 0 0 auto;")
                        a.ajax-downloadLink.d-inline.hover-color(data-tooltip="tooltip" data-trigger="hover" data-placement="bottom" title='Download Background Image', target='_blank', rel='noopener noreferrer', style='text-decoration: none;')
                            i.i.fas.fa-download.fa-sm.shadow-blk

            else if (pageError)
                #midSearch.mid-center-block
                    .animated--grow-in.shadow-blk-wide
                        .dimmed.d-flex
                            .flex-grow-1
                                span.sidebar-brand-logo.sequenzia-logo.d-none.d-md-inline-block( style="font-size: 2.6em;line-height: 0.9em;padding-left: .3rem; text-shadow: 1px 1px 19px #000;") sequenzia
                        form#srchfrm.shadow-blk.search-box(spellcheck='false', role='search', action='https://www.bing.com/search?scope=web', target='_self', method='get')
                            .input-group
                                input#q.form-control(name='q', placeholder='Search', title='Enter your search term', autocomplete='off', maxlength='250', aria-label='Enter your search term', accesskey='S', type='search', style='font-size: larger; padding: 1.25em;')
                                input(type="submit" style="visibility:hidden;position:absolute")
                                .input-group-append
                                    a#btnSearch.btn.input-group-text.bg-home-search.btn-search(title='Search Internet', href='#_')
                                        i.i.fas.fa-search.fa-sm.align-middle.nav-item(style='font-size: 1.3em;')
                    .animated--grow-in.shadow-blk-wide
                        .d-flex
                            .flex-grow-1(style='font-size: 1.3rem; font-weight: 100;')
                                span.text-capitalize.shadow-text Internal Server Error
            else
                #midSearch.mid-center-block
                    .animated--grow-in.shadow-blk-wide
                        .dimmed.d-flex
                            .flex-grow-1
                                span.sidebar-brand-logo.sequenzia-logo.d-none.d-md-inline-block( style="font-size: 2.6em;line-height: 0.9em;padding-left: .3rem; text-shadow: 1px 1px 19px #000;") sequenzia
                        form#srchfrm.shadow-blk.search-box(spellcheck='false', role='search', action='https://www.bing.com/search?scope=web', target='_self', method='get')
                            .input-group
                                input#q.form-control(name='q', placeholder='Search', title='Enter your search term', autocomplete='off', maxlength='250', aria-label='Enter your search term', accesskey='S', type='search', style='font-size: larger; padding: 1.25em;')
                                input(type="submit" style="visibility:hidden;position:absolute")
                                .input-group-append
                                    a#btnSearch.btn.input-group-text.bg-home-search.btn-search(title='Search Internet', href='#_')
                                        i.i.fas.fa-search.fa-sm.align-middle.nav-item(style='font-size: 1.3em;')
                    .animated--grow-in.shadow-blk-wide
                        .d-flex
                            .flex-grow-1(style='font-size: 1.3rem; font-weight: 100;')
                                a(title="Login to Sequenzia" href='/discord/login')
                                    span.text-capitalize.shadow-text Login Required
                            .d-flex.flex-column.justify-content-center.bottom-icon
                                div(style='font-size: 1.3rem; font-weight: 100;')
                                    a.d-inline.hover-color(title="Login to Sequenzia" style='text-decoration: none;' href='/discord/login')
                                        i.fas.fa-sign-in-alt.fa-sm.shadow-blk
        // Logout Modal
        #logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Ready to Leave?
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body Select &quot;Logout&quot; below if you are ready to end your current session.
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                        a.btn.btn-danger(href='/discord/destroy') Logout
        //div#loadingLogo.center-block(style='display: none;')
            .lds-spinner
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
        script(src="/static/js/sb-admin-2.min.js")
        if (url.includes('search=true'))
            script.
                document.getElementById("btnSearch").addEventListener("click", () => { $("#srchfrm").submit(); });
                document.getElementById("btnSearchGallery").addEventListener("click", () => {
                    getNewContent([], [['search', `${document.getElementById('q').value}`]], '/gallery');
                });
                document.getElementById("btnSearchFiles").addEventListener("click", () => {
                    getNewContent([], [['search', `${document.getElementById('q').value}`]], '/files');
                });
        else
            script.
                document.getElementById("btnSearchGallery").addEventListener("click", () => {
                    getNewContent([], [['search', `${document.getElementById('q').value}`]], '/gallery');
                });
                document.getElementById("btnSearchFiles").addEventListener("click", () => {
                    getNewContent([], [['search', `${document.getElementById('q').value}`]], '/files');
                });
        script.
            document.getElementById("btnShowNavigator").addEventListener("click", toggleMenu);
