- let enableUploadTools = false
if (write_channels && write_channels.length > 0 )
    - enableUploadTools = true
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes, viewport-fit=cover, user-scalable=no')
        meta(name='description', content='Sequenzia')
        meta(name='author', content='Yukimi Kazari')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="pple-mobile-web-app-title" content="Sequenzia")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(content="Sequenzia" property="og:title")
        meta(content="Image Gallery and File Manager" property="og:description")
        meta(content="Sequenzia" property="og:site_name")
        if (user && user.banner)
            link(rel='preload', href=`${user.banner}` as='image')
        if (user && user.avatar)
            link(rel='preload', href=`${user.avatar}` as='image')
        if (discord && discord.servers)
            each thisServer, thisIndex in discord.servers.list
                link(rel='preload', href=`${thisServer.icon}` as='image')
        if (applications_list && applications_list.length > 0)
            each app in applications_list
                if (app.images)
                    each image in Array.from(Object.entries(app.images))
                        meta(name='seq-app-meta-' + app.id + '_' + image[0], content='' + image[1])
                        link(rel='preload', href=`${image[1]}` as='image')
        if (next_episode)
            link(rel='preload', href=`${(next_episode) ? (next_episode.background) ? '/media_attachments' + next_episode.background : next_episode.data.background[0] : ''}` as='image')

        link(href='/static/img/splash/apple/iphone5_splash.png' media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone5_splash_landscape.png' media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone6_splash.png' media='screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone6_splash_landscape.png' media='screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphoneplus_splash.png' media='screen and (device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphoneplus_splash_landscape.png' media='screen and (device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonex_splash.png' media='screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonex_splash_landscape.png' media='screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonexr_splash.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonexr_splash_landscape.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonexsmax_splash.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonexsmax_splash_landscape.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone11pro_splash.png' media='screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone11pro_splash_landscape.png' media='screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone11promax_splash.png' media='screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone11promax_splash_landscape.png' media='screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')

        link(href='/static/img/splash/apple/ipad_splash.png' media='screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipad_splash_landscape.png' media='screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro1_splash.png' media='screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro1_splash_landscape.png' media='screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro3_splash.png' media='screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro3_splash_landscape.png' media='screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro2_splash.png' media='screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro2_splash_landscape.png' media='screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')

        link(rel='preload', href="/static/font/london2012.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-light-300.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-thin-100.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-duotone-900.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        //meta(name="theme-color" content="#4285f4")
        link(rel='apple-touch-icon' sizes='180x180' href='/static/img/icons/android/android-launchericon-192-192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/static/img/icons/firefox/firefox-general-32-32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/static/img/icons/chrome/firefox-general-16-16.png')
        link(rel='manifest' href='/static/manifest.json')
        title= `${webconf.site_name}`

        link(rel='preload', href="/static/vendor/fontawesome/css/fontawesome.min.css" as='style')
        link(rel='preload', href="/static/vendor/fontawesome/css/all.min.css" as='style')
        link(rel='preload', href="/static/css/sb-admin-2.min.css" as='style')
        link(rel='preload', href="/css/custom-lite.min.css" as='style')
        link(rel='preload', href="/css/home-lite.min.css" as='style')

        link(rel='preload', href='/static/vendor/jquery/jquery.min.js' as='script')
        link(rel='preload', href='/static/js/sb-admin-2.min.js' as='script')
        link(rel='preload', href='/static/vendor/bootstrap/js/bootstrap.bundle.min.js' as='script')
        //link(rel='preload', href='/static/vendor/jquery-easing/jquery.easing.min.js' as='script')

        link(rel='stylesheet', href="/static/vendor/fontawesome/css/fontawesome.min.css")
        link(rel='stylesheet', href="/static/vendor/fontawesome/css/all.min.css")
        link(rel='stylesheet', href='/static/css/sb-admin-2.min.css')
        link(rel='stylesheet' type='text/css' href='/static/css/toast.min.css')
        link(rel='stylesheet', href="/css/custom-lite.min.css")
        link(rel='stylesheet', href="/css/home-lite.min.css")

        script(src="/static/vendor/jquery/jquery.min.js")
        script(src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js")
        script(type='text/javascript' src="/static/js/toast.min.js")
        script(type='text/javascript' src="/js/client/home-lite.min.js")
        link(rel='preload', href="/static/img/boot-logo.png" as='image')

        style.
            @supports (-webkit-touch-callout: initial) { body { height: 100vh; } }
        if (user && user.banner)
            style.
                .user-info-bg, #topbarUserBackground {
                    background-image: url('#{user.banner}');
                }
        else if (user && user.avatar)
            style.
                .user-info-bg, #topbarUserBackground {
                    background-color: transparent;
                }

                #topbarUserBackground {
                    display: none !important;
                }
    body
        div#topBarPWA
        script.
            if (performaceMode) {
                document.querySelector('body').classList.add('performance-mode');
                console.log('Performance Mode is enabled, No animation will be enabled and all effects are removed')
            }
        #bootBackdrop.boot-logo-overlay(style="display: none;")
            #bootBackdropSunrise
        #kmsBootDisplay.boot-logo-overlay.animated--grow-in.d-none
            .logo-container.ml-auto.mr-auto.mt-auto.mb-auto.p-4
                div.boot-dialog.d-flex.flex-column.rounded.position-relative(style=`background-image: url(${(next_episode) ? (next_episode.background) ? '/media_attachments' + next_episode.background : next_episode.data.background[0] : '/static/img/kms-background.jpeg'});`)
                    div.bottom-right.h-100.p-0.position-absolute.rounded.w-100(style="border: 1px solid #ffffff5c; z-index: 3;")
                    div.bottom-right.h-100.p-0.position-absolute.rounded.shine-effect.w-100(style="z-index: 2;")
                    div.boot-accents.d-flex.ml-5.mt-auto.mb-auto.ml-sm-5.flex-column.mr-auto.ml-auto
                        div.d-flex(style="z-index: 1;")
                            img(src="/static/img/kongoumedialogo-menu.png" style="width: 280px; height: auto; filter: drop-shadow(0px 0px 14px black);")
                    div.boot-overlay-logo.p-0.position-absolute.bottom-right.text-right.overflow-hidden.h-100.w-100.d-none.d-sm-block
                        img(src="/static/img/kongou-group.png" style="filter: drop-shadow(0px 0px 10px #ffffff75);").h-100.rounded
                    div.boot-status.p-2.position-absolute.bottom-right.text-right.d-flex.align-items-baseline(style="padding-right: 0.75em!important; text-shadow: 0 0 20px black")
                        span.boot-status-holder.font-weight-bolder Kongou Media Project v9
                        .mt-1.boot-icons-holder
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                    div.boot-author-loog.p-2.position-absolute.bottom-left
                        img(src="/static/img/acr-logo.png" style="width: 250px; height: auto; filter: drop-shadow(0px 0px 7px black);")
        #appBootDisplay.boot-logo-overlay.animated--grow-in.d-none
            .logo-container.ml-auto.mr-auto.mt-auto.mb-auto.p-4
                div#appBootBackground.boot-dialog.d-flex.flex-column.rounded.position-relative(style="background-image: url(/static/img/app-background.jpg);")
                    div.bottom-right.h-100.p-0.position-absolute.rounded.w-100(style="border: 1px solid #ffffff5c; z-index: 3;")
                    div.bottom-right.h-100.p-0.position-absolute.rounded.shine-effect.w-100(style="z-index: 2;")
                    div.boot-accents.d-flex.ml-5.mt-auto.mb-auto.ml-sm-5.flex-column.mr-auto.ml-auto
                        div.d-flex(style="z-index: 1;")
                            img#appBootLogo(src="/static/img/sequenzia-logo-nav.png" style="width: 240px; height: auto; filter: drop-shadow(0px 0px 14px black);")
                    div#appBootAccent.boot-overlay-logo.p-0.position-absolute.bottom-right.text-right.overflow-hidden.h-100.w-100.d-none.d-sm-block.hidden
                        img(src="/static/img/kongou-group.png" style="filter: drop-shadow(0px 0px 10px #ffffff75);").h-100.rounded
                    div.boot-status.p-2.position-absolute.bottom-right.text-right.d-flex.align-items-baseline(style="padding-right: 0.75em!important; text-shadow: 0 0 20px black")
                        span.boot-status-holder.font-weight-bolder JuneApp Platform v1
                        .mt-1.boot-icons-holder
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                    div.boot-author-loog.p-2.position-absolute.bottom-left
                        img#appBootPublisher(src="/static/img/acr-logo.png" style="width: 250px; height: auto; filter: drop-shadow(0px 0px 7px black);")
        #bootUpDisplay.boot-logo-overlay.animated--grow-in.d-none
            .boot-container.ml-auto.mr-auto.mt-auto.mb-auto.p-4
                div.boot-dialog.d-flex.flex-column.rounded.position-relative(style=`background-image: url(${(user && user.banner) ? user.banner : '/static/img/bootlogo-inner.jpeg'})`)
                    div.boot-accents.d-flex.ml-5.mt-auto.mb-auto.ml-sm-5.flex-column.mr-auto.ml-auto
                        div.bottom-right.h-100.p-0.position-absolute.rounded.w-100(style="border: 1px solid #ffffff5c; z-index: 3;")
                        div.bottom-right.h-100.p-0.position-absolute.rounded.shine-effect.w-100(style="z-index: 2;")
                        div.boot-logo-holder.d-flex(style="z-index: 1; padding-left: 0.4rem;")
                            //span.sequenzia-logo.shadow-txt(style="font-size: 3em;position: relative;top: 0.2em;/* line-height: 1em; */color: unset;text-shadow: 0px 0px 14px black;") sequenzia
                            img(src="/static/img/sequenzia-logo-nav.png" style="width: 240px; height: auto; filter: drop-shadow(0px 0px 14px black);")
                        div.boot-logo-subtext.d-flex(style="text-shadow: 0px 0px 14px black; font-size: 2em;").mt-1
                            i.px-2.fas.fa-image
                            i.px-2.fas.fa-film
                            i.px-2.fas.fa-music
                            i.px-2.fas.fa-folder
                            i.px-2.fas.fa-archive
                    div.boot-status.p-2.position-absolute.bottom-right.text-right.d-flex.align-items-baseline(style="padding-right: 0.75em!important; text-shadow: 0 0 20px black")
                        span#bootLoaderStatus.boot-status-holder.font-weight-bolder JuneOS Platform v20
                        .mt-1.boot-icons-holder#bootStatusIcons
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                        //.boot-loader-bar.ml-auto.mr-auto.rounded.mt-1
                    div.boot-author-loog.p-2.position-absolute.bottom-left
                        img(src="/static/img/acr-logo.png" style="width: 250px; height: auto; filter: drop-shadow(0px 0px 7px black);")
        if (discord)
            #homeBg.background-image.overlay
            #previewBG.background-image.blur-this(style=`z-index: -102!important; background-image: url('/static/img/loading_bg.jpeg'); display: none;`)
            #fullBG.background-image.full-image-holder(style=`z-index: -101!important; background-image: url('/static/img/loading_bg.jpeg'); display: none;`)
            img#portraitBG.portait-overlay.full-image-holder.center-block(style="z-index: -100!important; display: none;" src='/static/img/loading_bg.jpeg')
            img#landscapeBG.landscape-overlay.full-image-holder.center-block(style="z-index: -100!important; display: none;" src='/static/img/loading_bg.jpeg')
            #cover.background-image(style=`z-index: -99!important; background-color: black`)
        else
            #homeBg.background-image
            #fullBG.background-image.full-image-holder(style=`z-index: -101!important; display: none;`)
            #cover.background-image(style=`z-index: -99!important; background-color: black`)
            script.
                function preventDefault(e) {
                    e.preventDefault();
                }
                document.body.addEventListener('touchmove', preventDefault, {passive: false});
                document.getElementById('homeBg').style.backgroundImage = 'url("/static/img/loading_bg.jpeg")';
                document.getElementById('cover').classList.add('fadeOut');
        ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion.toggled.animated--fade-in
            #sidebar
        .fixed-bottom.ambient-items.p4-safty(style="display: none;").flex-row
            .animated--fade-in.text-center.pb-4.bottom-time-info.d-none.align-items-end.d-md-flex
                img(src="/static/img/sequenzia-logo-nav.png" style='height: 4em').pl-4
            .animated--fade-in.text-center.ml-auto.bottom-time-info
                div(style="margin-top: -0.75em;")
                    #time
                //div
                    i.fas.fa-star.d-none.ajax-imageFav.pr-2
                    span.ajax-imageLocation.text-capitalize ...
                    div(style='padding: 0 0.5rem; display: inline;').middle-indicator.hidden.d-sm-inline.d-none
                        i.fas.fa-circle(style='font-size: 8px; vertical-align: middle;')
                    span.ajax-imageDate.middle-indicator.hidden.d-sm-inline.d-none
        #mainContainer.container.position-fixed.top-center.h-100.w-100.flex-column
            #photoInfo.hidden.d-none.w-100.d-flex.p-2.pb-0
                .animated--fade-in.text-center.align-items-start.d-none.d-md-flex
                    img(src="/static/img/sequenzia-logo-nav.png" style='height: 3.5em').shadow-blk
                .ml-auto.justify-content-between.align-items-center.animated--fade-in.mr-auto.mr-md-0
                    .menu-container.w-100.p-2.px-3.rounded.position-relative.d-flex.flex-column.flex-md-row
                        div
                            a.ajax-imageLink(data-placement="bottom" title='View the background photo')
                                .align-items-center.d-flex.flex-column
                                    span.ajax-imageLocation.text-capitalize ...
                                    span.ajax-imageDate(style="font-size: .8em;")
                        div.align-items-center.d-flex.justify-content-between.py-md-0.pl-md-2.pr-md-0.pt-2.px-3.pb-1
                            i.fas.fa-star.d-none.ajax-imageFav.px-md-2.px-0(onclick="toggleFavorite(); return false;")
                            a.ajax-downloadLink.d-inline.hover-color.px-md-2.px-0(data-placement="bottom" title='Download Background Image', target='_blank', rel='noopener noreferrer', style='text-decoration: none;')
                                i.i.fas.fa-download.fa-sm
                            a.d-inline.hover-color.px-md-2.px-0(data-placement="bottom" title='Reload Page', style='text-decoration: none;', href='#_' onclick='getRandomImage(true); return false;')
                                i.i.fas.fa-fast-forward.fa-sm
            #pushUp.ml-auto.mr-auto.mt-auto
                a(href='#_' onclick='setMenuLocation("top"); return false;')
                    i.fas.fa-chevron-up.fa-2x.py-2.px-5
            #bootUpLogo.center-block.animated--fade-in
                .d-flex.pb-1.w-100.flex-column
                    .d-flex.flex-grow-1.align-items-center.boot-card-holder
                        div.user-info-bg.rounded
                            div.user-info-border.rounded
                            div.user-info-backdrop.rounded
                            div.user-info-overlay.position-absolute.rounded
                            div.user-infocard-holder.d-flex.flex-column
                                .row.p-0.m-2(style="padding: 0.25em 0.5em;")
                                    img.sidebar-brand-logo.sequenzia-logo.shadow(src='/static/img/sequenzia-logo-nav.png' style='height: 28px; filter: drop-shadow(0px 0px 2px black);')
                                    if (discord && discord.user && discord.user.membership)
                                        if (discord.user.membership.background)
                                            div.badge.ml-auto.d-flex.align-items-center.justify-content-center(style=`font-size: 1em; ${(discord.user.membership.color) ? 'color: ' + discord.user.membership.color + '; ' : ''}background: ${discord.user.membership.background}`)
                                                if (discord.user.membership.icon)
                                                    i.fas.pr-2(class=`fa-${discord.user.membership.icon}`)
                                                span(style="z-index: 1;") #{discord.user.membership.text}
                                        else
                                            div.ml-auto.d-flex.align-items-center.justify-content-center(style=`${(discord.user.membership.color) ? 'color: ' + discord.user.membership.color + '; ' : ''}`)
                                                if (discord.user.membership.icon)
                                                    i.fas.pr-2(class=`fa-${discord.user.membership.icon}`)
                                                span(style="z-index: 1;") #{discord.user.membership.text}
                                    else
                                        span.ml-auto.shadow-text(style="z-index: 1;") Member


                                .row.p-0.user-infocard-row1(style='width: calc(100% - 1.125em);')
                                    if (user)
                                        .col-auto.p-0
                                            img.rounded-circle.user-infocard-icon(src=user.avatar)
                                        .col.p-0.pl-2.text-ellipsis.d-flex.mt-auto.flex-column
                                            div.text-center.text-ellipsis.align-middle.mr-auto
                                                if (login_source && login_source === 900)
                                                    span.badge.font-weight-bold.text-uppercase.badge-danger Insecure Login Method
                                                else if (discord && discord.user && discord.user.server && discord.user.server.length > 0)
                                                    i.pr-1.fas.fa-check-circle
                                                    span #{(discord.user.server[0].nice_name) ? discord.user.server[0].nice_name : discord.user.server[0].name}
                                                    //img.server-icon.rounded-circle(title=`${thisServer.name}\n(${(thisServer.login === 1) ? 'Login Server' : 'Storage'})` src=thisServer.icon id=`server-${thisServer.serverid}`)
                                            div.text-ellipsis.shadow-text.user-infocard-info
                                                span.p-0.font-weight-light.d-inline.user-infocard-username #{user.username}
            #midSearch.ml-auto.mr-auto.justify-content-between.align-items-center.animated--grow-in.flex-column.d-none
                .menu-container.w-100.p-3.rounded.position-relative
                    .h-100.w-100.rounded.position-absolute.top-left.animation-application.disabled-pointer
                    div#menuAccordion(style='display: contents').w-100.menu-glow
                        div#menuItemMain(class="collapse show animated--grow-in" data-parent="#menuAccordion").w-100
                            .d-flex.pb-1.w-100
                                .d-flex.flex-grow-1.align-items-center
                                    //span.sidebar-brand-logo.sequenzia-logo sequenzia
                                    div#statusPanel(style='display: contents;')
                                        .dropdown
                                            a#statusMenu.btn.pl-1.py-0(title="Active Tasks" href='#_' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' aria-labelledby="statusMenu")
                                                i#statusMenuIcon.fas.fa-sync.fa-spin.dimmed
                                                i#statusMenuIndicator.fas.fa-square-0.pl-2.hidden
                                                div#statusMenuProgress
                                            .dropdown-menu.shadow.dropdown-menu-right.animated--grow-in(aria-labelledby="statusMenu")
                                                span.dropdown-header
                                                    | Syncing Offline Pages...
                                div

                            #mainUserButtons.d-flex(class=`${(!discord) ? 'hidden':''}`).flex-column
                                div#mainButtonsAccordion(style='display: contents').w-100
                                    div#buttonsPage1(class="collapse show" data-parent="#mainButtonsAccordion").w-100
                                        .menu-grid.main-menu-grid.menu-icons.py-1
                                            a.hover-color(data-placement="top" title='Show Navigator', href='#_' onClick='toggleMenu(); return false;').desktop-only
                                                i.fa-light.fa-compass
                                            a.hover-color(data-placement="top" title='Latest Media', href='#/gallery?numdays=60&sort=eid')
                                                i.fa-light.fa-photo-video
                                            a.hover-color(data-placement="top" title='Latest Files', href=`#/files?numdays=60&sort=eid&filesonly=true`)
                                                i.fa-light.fa-files
                                            a.hover-color(data-placement="bottom" title='Libraries', href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemLibrary" )
                                                i.fa-light.fa-ticket
                                            a.hover-color(data-placement="top" title="Your Favorites", href='#/gallery?sort=fav&pins=true')
                                                i.fa-light.fa-star
                                            a.hover-color(data-placement="top" title="User Albums" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemAlbums")
                                                i.fa-light.fa-archive
                                            a.hover-color(data-placement="top" title='Show Navigator', href='#_' onClick='toggleMenu(); return false;').mobile-only
                                                i.fa-light.fa-compass
                                            a.hover-color(data-placement="top" title="Image History" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemImageHistory" onClick='getHistory(); return false;')
                                                i.fa-light.fa-history
                                            a.hover-color(data-placement="top" title="Artists", href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemArtists").user-menu-overlow-show-icon-1
                                                i.fa-light.fa-address-book
                                            a.hover-color(data-placement="top" title="Launch Offline Files" href='#_' onclick="transitionToOOBPage('/offline'); return false;")
                                                i.fa-light.fa-bookmark
                                            a.hover-color(data-placement="top" title="I'm Feeling Lucky", href='#/gallery?sort=random').user-menu-overlow-show-icon-1
                                                i.fa-light.fa-dice
                                            a.hover-color(data-placement="top" title="Applications" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemApps")
                                                i.fa-light.fa-browsers
                                            a.hover-color.align-items-center.justify-content-center(data-placement="top" title="Settings" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemAccount" onclick="document.getElementById('mainContainer').classList.add('show-menu-buttons'); return false;").p-0
                                                if (user)
                                                    img.img-profile.rounded-circle.img-button(src=user.avatar)
                                                else
                                                    i.fa-light.fa-login
                                            a.hover-color(data-placement="top" title="Applications" href='#_' class="collapsed" data-toggle="collapse" data-target="#buttonsPage2").user-menu-overlow-hide-icon-1
                                                i.fa-light.fa-ellipsis-stroke
                                    div#buttonsPage2(class="collapse" data-parent="#mainButtonsAccordion").w-100
                                        .menu-grid.main-menu-grid.menu-icons.py-1
                                            a.hover-color(data-placement="top" title="I'm Feeling Lucky", href='#/gallery?sort=random')
                                                i.fa-light.fa-dice
                                            a.hover-color(data-placement="top" title="Artists", href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemArtists")
                                                i.fa-light.fa-address-book
                                            a.hover-color(data-placement="top" title="Return" href='#_' class="collapsed" data-toggle="collapse" data-target="#buttonsPage1")
                                                i.fa-light.fa-chevron-down

                            #loginUserButtons.d-flex.py-1(class=`${(discord) ? 'hidden':''}`).flex-column.flex-sm-row
                                span#loginCodeDisplay.text-center.text-sm-left.pb-3.pb-sm-0.w-100 XXXXXX
                                .login-options.menu-grid
                                    a.hover-color(data-placement="top" title='Access Local Files', href='#_' onclick="transitionToOOBPage('/offline'); return false").d-flex.flex-column
                                        i.fa-light.fa-bookmark.fa-2x.align-self-center
                                        span.align-self-center.pt-1 Local Files
                                    a.hover-color(data-placement="top" title='Login with Discord', href='#_' onclick="transitionToOOBPage('/discord/login'); return false").d-flex.flex-column
                                        i.fa-light.fa-right-to-bracket.fa-2x.align-self-center
                                        span.align-self-center.pt-1 Login
                            .d-flex.justify-content-between.align-items-center.image-description.hidden
                                div(style='min-width: 0; overflow: hidden; flex: 1; white-space: nowrap;')
                                    .d-inline(style='white-space: nowrap;  flex: 1;')
                                        i.fas.fa-star.d-none.ajax-imageFav.pr-2(onclick="toggleFavorite(); return false;")
                                        a.ajax-imageLink(data-placement="bottom" title='View the background photo')
                                            .d-inline-block
                                                span.ajax-imageLocation.text-capitalize ...
                                                div(style='padding: 0 0.5rem; display: inline;').middle-indicator.hidden.d-sm-inline.d-none
                                                    i.fas.fa-circle(style='font-size: 8px; vertical-align: middle;')
                                                span.ajax-imageDate.d-sm-inline.d-none
                                div.d-flex.justify-content-center.ml-2.align-items-center
                                    a.ajax-downloadLink.d-inline.hover-color(data-placement="bottom" title='Download Background Image', target='_blank', rel='noopener noreferrer', style='text-decoration: none;').mr-3
                                        i.i.fas.fa-download.fa-sm
                                    a.d-inline.hover-color(data-placement="bottom" title='Reload Page', style='text-decoration: none;', href='#_' onclick='getRandomImage(true); return false;')
                                        i.i.fas.fa-fast-forward.fa-sm
                            if (pageError)
                                .d-flex.justify-content-between.align-items-center(style="font-size: 1.25em;").text-center.w-100.text-danger
                                    span.text-capitalize.shadow-text Internal Server Error

                        if (discord)
                            div#menuItemAlbums.scroll-list.collapse.menu-object(class="collapse animated--fade-in" data-parent="#menuAccordion").w-100
                                .d-flex.w-100
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-archive.pr-2
                                            span Albums
                                .d-flex.w-100.mb-3
                                    if (albums && albums.length > 0)
                                        div.album-list
                                            each thisAlbum in albums
                                                div.album-item.position-relative
                                                    div.album-info.rounded.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2.pt-1(style="justify-content: left; top: 0;")
                                                        //x.uri, x.privacy
                                                        div.album-icon
                                                            if (thisAlbum.uri === 'gallery')
                                                                i.far.fa-photo-video.pr-1
                                                            else if (thisAlbum.uri === 'files')
                                                                i.far.fa-folder.pr-1
                                                            else if (thisAlbum.uri === 'cards')
                                                                i.far.fa-sticky-note.pr-1
                                                            else
                                                                i.far.fa-archive.pr-1
                                                    div.album-info.rounded.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2(style="justify-content: left; bottom: 0; background: #00000091")
                                                        span #{thisAlbum.name}
                                                    a.position-absolute.text-capitalize(style='height: 100%; width: 100%' title=thisAlbum.name href=`#/${thisAlbum.uri}?album=${thisAlbum.aid}&sort=album`)
                                                        if (thisAlbum.image)
                                                            div.album-preview.rounded(style=`background-image: url("${thisAlbum.image}");`)
                                                        else
                                                            div.album-preview.rounded(style=`background: linear-gradient(31deg, #9f3202, #f7c21c);`)
                                    else
                                        div.mt-auto.mb-auto.ml-auto.mr-auto.h3.p-3
                                            i.fas.fa-empty-set.pr-2
                                            span No Albums
                            div#menuItemArtists.scroll-list.collapse.menu-object(class="collapse animated--fade-in" data-parent="#menuAccordion").w-100
                                .d-flex.w-100
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#/artists?')
                                            i.fas.fa-grid-2.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-address-book.pr-2
                                            span Artists
                                .d-flex.w-100.mb-3
                                    if (artists && artists.length > 0)
                                        div.album-list
                                            each thisArtist in artists
                                                div.album-item.position-relative
                                                    div.album-info.rounded.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2.pt-1(style="justify-content: left; top: 0;")
                                                        //x.uri, x.privacy
                                                        div.album-icon
                                                            if (thisArtist.artist_source && thisArtist.artist_source === 1)
                                                                i.fab.fa-twitter.pr-1
                                                            else if (thisArtist.artist_source && thisArtist.artist_source === 2)
                                                                i.fas.fa-palette.pr-1
                                                            else if (thisArtist.artist_source && thisArtist.artist_source === 3)
                                                                i.fab.fa-flickr.pr-1
                                                            else if (thisArtist.artist_source && thisArtist.artist_source === 4)
                                                                i.fas.fa-download.pr-1

                                                            if (thisArtist.artist_confidence && thisArtist.artist_confidence === 1)
                                                                i.fas.fa-check-circle.ml-1.pr-1

                                                            if (thisArtist.artist_rating)
                                                                if (thisArtist.artist_rating >= 0.9)
                                                                    i.fas.fa-face-smile.ml-1.pr-1
                                                                else if (thisArtist.artist_rating >= 0.75)
                                                                    i.fas.fa-face-meh.ml-1.pr-1
                                                                else if (thisArtist.artist_rating >= 0.50)
                                                                    i.fas.fa-face-frown.ml-1.pr-1
                                                                else
                                                                    i.fas.fa-face-meh-blank.ml-1.pr-1
                                                                span #{(thisArtist.artist_rating * 100).toFixed(0)}%
                                                    div.album-info.rounded.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2(style="justify-content: left; bottom: 0; background: #00000091")
                                                        span #{(thisArtist.artist_full_name) ? thisArtist.artist_full_name + ((thisArtist.artist && thisArtist.artist.toLowerCase() !== thisArtist.artist_full_name.toLowerCase()) ? " (" + thisArtist.artist + ")" : "") : thisArtist.artist}
                                                    a.position-absolute.text-capitalize(style='height: 100%; width: 100%' title=((thisArtist.artist_full_name) ? thisArtist.artist_full_name : thisArtist.artist) href=`#/gallery?nsfw=true&search=${encodeURIComponent(thisArtist.artist_search)}`)
                                                        if (thisArtist.image)
                                                            div.album-preview.rounded(style=`background-image: url("${thisArtist.image}");`)
                                                        else
                                                            div.album-preview.rounded(style=`background: linear-gradient(31deg, #9f3202, #f7c21c);`)
                                    else
                                        span No Favorite Artists!

                            div#menuItemImageHistory.scroll-list.collapse.menu-object(class="collapse animated--fade-in" data-parent="#menuAccordion").w-100
                                .d-flex.w-100
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show All History', href=`#/gallery?sort=history&history_numdays=90&history=only&displayname=*`)
                                            i.fas.fa-grid-2.fa-fw
                                        #menuLoaderImageHistory.top-icon.d-inline(style="opacity: 0.5;")
                                            i.fas.fa-spin-pulse.fa-spinner
                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-history.pr-2
                                            span History
                                .d-flex.w-100.mb-3
                                    div.album-list
                                        #menuBodyImageHistory.ready(style="display: contents;")
                            div#menuItemApps.collapse.menu-object(class="collapse animated--fade-in" data-parent="#menuAccordion").w-100
                                .d-flex.w-100
                                    .flex-grow-1
                                        a.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-browsers.pr-2
                                            span Apps
                                .d-flex.w-100.mb-3
                                    div.menu-grid.user-menu-small
                                        a.user-menu-item.hover-color.d-flex.flex-column(title="Launch Ambient Display Web App" href='/ambient?displayname=Untitled' target="_blank" rel="noopener noreferrer")
                                            i.fas.fa-tv
                                            | Photo Frame
                                        if (applications_list && applications_list.length > 0)
                                            each thisApp in applications_list
                                                if (thisApp.type == 0)
                                                    a.user-menu-item.hover-color.d-flex.flex-column(title=`Open ${thisApp.name}` href=thisApp.url target="_blank" rel="noopener noreferrer")
                                                        i.fas(class=`${thisApp.icon}`)
                                                        | #{thisApp.name}
                                                else
                                                    a.user-menu-item.hover-color.d-flex.flex-column(title=`Launch ${thisApp.name}` href=`#/app/launch/${thisApp.id}`)
                                                        i.fas(class=`${thisApp.icon}`)
                                                        | #{thisApp.name}
                            div#menuItemLibrary.collapse.menu-object(class="collapse animated--fade-in" data-parent="#menuAccordion").w-100
                                .d-flex
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            img.kms-menu-logo(src='/static/img/kongoumedialogo-menu-dark.png' style="height: 1.4em;")
                                            //i.fas.fa-ticket.pr-2.d-sm-none
                                            //span.d-sm-none Theater
                                .d-flex.w-100.mb-3
                                    .d-flex.w-100
                                        if (next_episode)
                                            div.pl-2(onclick=`getNewContent([],[["show_id","${next_episode.show_id}"]${(next_episode.nsfw === 1) ? ',["nsfw","true"]' : ''}${(!next_episode.data.seasons) ? ',["sort","name"]' : ''}],'/listTheater')` data-show-background=`${(next_episode) ? (next_episode.background) ? '/media_attachments' + next_episode.background : next_episode.data.background[0] : ''}`)
                                                img.border-left-warning.rounded.kongou-next-episode-image(src=`${(next_episode.poster) ? '/media_attachments' + next_episode.poster : next_episode.data.poster[0]}`)
                                        if (theaters && theaters.length > 0)
                                            div.menu-grid.user-menu-small.mt-auto.mb-auto.kms-main-grid.ml-auto.mr-auto
                                                a.user-menu-item.hover-color.d-flex.flex-column(title="Continue Ongoing Series" href='#/listTheater?watch_history=none')
                                                    i.fas.fa-forward
                                                    | Up Next
                                                a.user-menu-item.hover-color.d-flex.flex-column(title="Media Shelves" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemMediaGroups")
                                                    i.fas.fa-fw.fa-books
                                                    | Shelves
                                                a.user-menu-item.hover-color.d-flex.flex-column(data-placement="left" title="Newest Episodes" href='#/listTheater?numdays=1&sort=eid&num=25')
                                                    i.fas.fa-certificate
                                                    | Newest
                                                a.user-menu-item.hover-color.d-flex.flex-column(data-placement="left" title="Favorite Episodes" href='#/listTheater?pins=true')
                                                    i.fas.fa-star
                                                    | Favorites
                                        else
                                            div.mt-auto.mb-auto.ml-auto.mr-auto.h3
                                                i.fas.fa-shelves-empty.pr-2
                                                span No Library Access




                            div#menuItemMediaGroups.collapse.menu-object(class="collapse animated--fade-in" data-parent="#menuAccordion").w-100
                                .d-flex.w-100
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemLibrary")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-books.pr-2
                                            span Shelves
                                .d-flex.w-100.mb-3
                                    div.menu-grid.user-menu-small
                                        if (theaters && theaters.length > 0)
                                            each thisTheater in theaters
                                                a.user-menu-item.hover-color.d-flex.flex-column(title=`Browse ${thisTheater.name} Collection` href=`#/tvTheater?group=${thisTheater.media_group}`)
                                                    i.fas(class=`${thisTheater.icon}`)
                                                    | #{thisTheater.name}
                        div#menuItemAccount.collapse.menu-object(class="collapse animated--fade-in" data-parent="#menuAccordion").w-100
                            .d-flex
                                .d-flex.flex-grow-1
                                    a.pr-2.d-inline.hover-color.top-icon.align-self-center(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain" onclick="document.getElementById('mainContainer').classList.remove('show-menu-buttons'); return false;")
                                        i.fas.fa-arrow-left.fa-fw
                                    if (user)
                                        .input-group(style="width: 13rem;").h-25
                                            input#expressLoginCode.bg-darker(type='text' placeholder='123ABC' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="height: 1.8em;").m-0.form-control.form-text.input-group-text.border-left-0.text-uppercase.text-white
                                            .input-group-append
                                                a.btn.btn-primary(data-placement="right" title="Transfer Login to this device" href='#_' onClick=`authwareLogin(); return false;`).py-0
                                                    span Login
                                .d-flex.top-icon.align-items-center
                                    i.fas.fa-cog.pr-sm-2
                                    span.d-none.d-sm-inline Settings
                            div.d-flex.align-items-center.user-info-container.settings-menu-col
                                div.settings-row
                                    div.user-info-bg.rounded
                                        div.user-info-border.rounded
                                        div.user-info-backdrop.rounded
                                        div.user-info-overlay.position-absolute.rounded
                                        div.user-infocard-holder.d-flex.flex-column
                                            .row.p-0.m-2(style="padding: 0.25em 0.5em;")
                                                img.sidebar-brand-logo.sequenzia-logo.shadow(src='/static/img/sequenzia-logo-nav.png' style='height: 28px; filter: drop-shadow(0px 0px 2px black);')
                                                if (discord && discord.user && discord.user.membership)
                                                    if (discord.user.membership.background)
                                                        div.badge.ml-auto.d-flex.align-items-center.justify-content-center(style=`font-size: 1em; ${(discord.user.membership.color) ? 'color: ' + discord.user.membership.color + '; ' : ''}background: ${discord.user.membership.background}`)
                                                            if (discord.user.membership.icon)
                                                                i.fas.pr-2(class=`fa-${discord.user.membership.icon}`)
                                                            span(style="z-index: 1;") #{discord.user.membership.text}
                                                    else
                                                        div.ml-auto.d-flex.align-items-center.justify-content-center(style=`${(discord.user.membership.color) ? 'color: ' + discord.user.membership.color + '; ' : ''}`)
                                                            if (discord.user.membership.icon)
                                                                i.fas.pr-2(class=`fa-${discord.user.membership.icon}`)
                                                            span(style="z-index: 1;") #{discord.user.membership.text}
                                                else
                                                    span.ml-auto.shadow-text(style="z-index: 1;") Member


                                            .row.p-0.user-infocard-row1(style='width: calc(100% - 1.125em);')
                                                if (user)
                                                    .col-auto.p-0
                                                        img.rounded-circle.user-infocard-icon(src=user.avatar)
                                                    .col.p-0.pl-2.text-ellipsis.d-flex.mt-auto.flex-column
                                                        div.text-center.text-ellipsis.align-middle.mr-auto
                                                            if (login_source && login_source === 900)
                                                                span.badge.font-weight-bold.text-uppercase.badge-danger Insecure Login Method
                                                            else if (discord && discord.user && discord.user.server && discord.user.server.length > 0)
                                                                i.pr-1.fas.fa-check-circle
                                                                span #{(discord.user.server[0].nice_name) ? discord.user.server[0].nice_name : discord.user.server[0].name}
                                                                //img.server-icon.rounded-circle(title=`${thisServer.name}\n(${(thisServer.login === 1) ? 'Login Server' : 'Storage'})` src=thisServer.icon id=`server-${thisServer.serverid}`)
                                                        div.text-ellipsis.shadow-text.user-infocard-info
                                                            span.p-0.font-weight-light.d-inline.user-infocard-username #{user.username}
                                    div.menu-grid.user-menu-small
                                        a.user-menu-item.hover-color.d-flex.flex-column(data-placement="top" title="Logout Account" href='#_' data-toggle='modal' data-target='#logoutModal')
                                            i.fas.fa-sign-out-alt
                                            | Log Out
                                div.settings-row
            #pushDown.ml-auto.mr-auto.mb-auto
                a(href='#_' onclick='setMenuLocation("bottom"); return false;')
                    i.fas.fa-chevron-down.fa-2x.py-2.px-5
            #naviResume.ml-auto.mr-auto.justify-content-between.align-items-center.animated--fade-in.flex-column.d-none.hidden.mt-3(style="margin-bottom: calc(calc(env(safe-area-inset-bottom) + 2.125em) * -1);!important")
                .menu-container.w-100.p-2.px-3.rounded.position-relative(style="border-bottom-left-radius: 0!important;border-bottom-right-radius: 0!important;padding-bottom: calc(env(safe-area-inset-bottom) + 1.75em)!important;")
                    .navi-last.w-100
            if (discord)
                #serverIconsList.ml-auto.mr-auto.justify-content-between.align-items-center.server-list.dimmed.animated--grow-in.d-none
                    div.shadow-blk
                        //.server-grid-parent(style=`grid-template-columns: repeat(${discord.servers.list.slice(0,8).length}, minmax(45px, 40px));`)
                        for thisServer in discord.servers.list
                            img.server-icon.rounded-circle(data-placement="top"  title=thisServer.name src=thisServer.icon id=`server-${thisServer.serverid}`)

        // Logout Modal
        #logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Ready to Leave?
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body Select &quot;Logout&quot; below if you are ready to end your current session.
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                        a.btn.btn-danger(href='/discord/destroy') Logout
        //div#loadingLogo.center-block(style='display: none;')
            .lds-spinner
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
        script(src="/static/js/sb-admin-2.min.js")
