- let enableUploadTools = false
if (write_channels && write_channels.length > 0 )
    - enableUploadTools = true
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes, viewport-fit=cover, user-scalable=no')
        meta(name='description', content='Sequenzia')
        meta(name='author', content='Yukimi Kazari')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(content="Sequenzia" property="og:title")
        meta(content="Image Gallery and File Manager" property="og:description")
        meta(content="Sequenzia" property="og:site_name")
        link(rel='preload', href="/static/font/london2012.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-light-300.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-thin-100.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        link(rel='preload', href="/static/vendor/fontawesome/webfonts/fa-duotone-900.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
        //meta(name="theme-color" content="#4285f4")
        link(rel='apple-touch-icon' sizes='180x180' href='/static/img/icons/android/android-launchericon-192-192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/static/img/icons/firefox/firefox-general-32-32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/static/img/icons/chrome/firefox-general-16-16.png')
        link(rel='manifest' href='/static/manifest.json')
        title= `${webconf.site_name}`

        link(rel='preload', href="/static/vendor/fontawesome/css/all.min.css" as='style')
        link(rel='preload', href="/static/css/sb-admin-2.min.css" as='style')
        link(rel='preload', href="/css/custom-lite.min.css" as='style')
        link(rel='preload', href="/css/home-lite.min.css" as='style')

        link(rel='preload', href='/static/vendor/jquery/jquery.min.js' as='script')
        link(rel='preload', href='/static/js/sb-admin-2.min.js' as='script')
        link(rel='preload', href='/static/vendor/bootstrap/js/bootstrap.bundle.min.js' as='script')
        //link(rel='preload', href='/static/vendor/jquery-easing/jquery.easing.min.js' as='script')

        link(rel='stylesheet', href="/static/vendor/fontawesome/css/all.min.css")
        link(rel='stylesheet', href='/static/css/sb-admin-2.min.css')
        link(rel='stylesheet', href="/css/custom-lite.min.css")
        link(rel='stylesheet', href="/css/home-lite.min.css")
        link(rel='stylesheet' type='text/css' href='/static/css/toast.min.css')

        script(src="/static/vendor/jquery/jquery.min.js")
        script(src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js")
        script(type='text/javascript' src="/static/js/toast.min.js")
        script(type='text/javascript' src="/js/client/home-lite.min.js")
        link(rel='preload', href="/static/img/boot-logo.png" as='image')

        style.
            @supports (-webkit-touch-callout: initial) { body { height: 100vh; } }
    body
        script.
            if (performaceMode) {
                document.querySelector('body').classList.add('performance-mode');
                console.log('Performance Mode is enabled, No animation will be enabled and all effects are removed')
            }
        #bootBackdrop.boot-logo-overlay(style="display: none;")
            #bootBackdropSunrise
        #kmsBootDisplay.boot-logo-overlay.animated--grow-in.d-none
            .logo-container.ml-auto.mr-auto.mt-auto.mb-auto.p-4
                div.boot-dialog.d-flex.flex-column.rounded.position-relative(style="background-image: url(/static/img/kms-background.jpeg);")
                    div.bottom-right.h-100.p-0.position-absolute.rounded.w-100(style="border: 1px solid #ffffff5c; z-index: 3;")
                    div.bottom-right.h-100.p-0.position-absolute.rounded.shine-effect.w-100(style="z-index: 2;")
                    div.boot-accents.d-flex.ml-5.mt-auto.mb-auto.ml-sm-5.flex-column.mr-auto.ml-auto
                        div.d-flex(style="z-index: 1;")
                            img(src="/static/img/kongoumedialogo-menu.png" style="width: 280px; height: auto; filter: drop-shadow(0px 0px 14px black);")
                    div.boot-overlay-logo.p-0.position-absolute.bottom-right.text-right.overflow-hidden.h-100.w-100.d-none.d-sm-block
                        img(src="/static/img/kongou-group.png" style="filter: drop-shadow(0px 0px 10px #ffffff75);").h-100.rounded
                    div.boot-status.p-2.position-absolute.bottom-right.text-right.d-flex.align-items-baseline(style="padding-right: 0.75em!important; text-shadow: 0 0 20px black")
                        span.boot-status-holder.font-weight-bolder Kongou Media Project v9
                        .mt-1.boot-icons-holder
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                    div.boot-author-loog.p-2.position-absolute.bottom-left
                        img(src="/static/img/acr-logo.png" style="width: 250px; height: auto; filter: drop-shadow(0px 0px 7px black);")
        #bootUpDisplay.boot-logo-overlay.animated--grow-in.d-none
            .boot-container.ml-auto.mr-auto.mt-auto.mb-auto.p-4
                div.boot-dialog.d-flex.flex-column.rounded.position-relative
                    div.boot-accents.d-flex.ml-5.mt-auto.mb-auto.ml-sm-5.flex-column.mr-auto.ml-auto
                        div.bottom-right.h-100.p-0.position-absolute.rounded.w-100(style="border: 1px solid #ffffff5c; z-index: 3;")
                        div.bottom-right.h-100.p-0.position-absolute.rounded.shine-effect.w-100(style="z-index: 2;")
                        div.boot-logo-holder.d-flex(style="z-index: 1;")
                            //span.sequenzia-logo.shadow-txt(style="font-size: 3em;position: relative;top: 0.2em;/* line-height: 1em; */color: unset;text-shadow: 0px 0px 14px black;") sequenzia
                            img(src="/static/img/sequenzia-logo-nav.png" style="width: 240px; height: auto; filter: drop-shadow(0px 0px 14px black);")
                        div.boot-logo-subtext.d-flex(style="text-shadow: 0px 0px 14px black; font-size: 2em;").mt-1
                            i.px-2.fas.fa-image
                            i.px-2.fas.fa-film
                            i.px-2.fas.fa-music
                            i.px-2.fas.fa-folder
                            i.px-2.fas.fa-archive
                    div.boot-status.p-2.position-absolute.bottom-right.text-right.d-flex.align-items-baseline(style="padding-right: 0.75em!important; text-shadow: 0 0 20px black")
                        span#bootLoaderStatus.boot-status-holder.font-weight-bolder JuneOS Platform v20
                        .mt-1.boot-icons-holder#bootStatusIcons
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                            i.fas.fa-circle(style="opacity: 50%").pl-2
                        //.boot-loader-bar.ml-auto.mr-auto.rounded.mt-1
                    div.boot-author-loog.p-2.position-absolute.bottom-left
                        img(src="/static/img/acr-logo.png" style="width: 250px; height: auto; filter: drop-shadow(0px 0px 7px black);")
        if (discord)
            #homeBg.background-image.overlay
            #previewBG.background-image.blur-this(style=`z-index: -102!important; background-image: url('/static/img/loading_bg.jpeg'); display: none;`)
            #fullBG.background-image.full-image-holder(style=`z-index: -101!important; background-image: url('/static/img/loading_bg.jpeg'); display: none;`)
            img#portraitBG.portait-overlay.full-image-holder.center-block(style="z-index: -100!important; display: none;" src='/static/img/loading_bg.jpeg')
            img#landscapeBG.landscape-overlay.full-image-holder.center-block(style="z-index: -100!important; display: none;" src='/static/img/loading_bg.jpeg')
            #cover.background-image(style=`z-index: -99!important; background-color: black`)
        else
            #homeBg.background-image
            #fullBG.background-image.full-image-holder(style=`z-index: -101!important; display: none;`)
            #cover.background-image(style=`z-index: -99!important; background-color: black`)
            script.
                function preventDefault(e) {
                    e.preventDefault();
                }
                document.body.addEventListener('touchmove', preventDefault, {passive: false});
                document.getElementById('homeBg').style.backgroundImage = 'url("/static/img/loading_bg.jpeg")';
                document.getElementById('cover').classList.add('fadeOut');
        ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion.toggled.animated--fade-in
            #sidebar
        .fixed-bottom.ambient-items.p4-safty(style="display: none;")
            .menu-container.rounded.animated--fade-in.text-center.ml-auto.p-4.bottom-time-info
                div
                    #time
                div
                    span.ajax-imageLocation.text-capitalize ...
                    div(style='padding: 0 0.5rem; display: inline;').middle-indicator.hidden.d-sm-inline.d-none
                        i.fas.fa-circle(style='font-size: 8px; vertical-align: middle;')
                    span.ajax-imageDate.d-none.d-sm-inline

        .container.position-absolute.top-center.h-100.w-100.flex-column
            #midSearch.ml-auto.mr-auto.mt-auto.mb-auto.justify-content-between.align-items-center.animated--grow-in.flex-column
                .menu-container.w-100.p-3.rounded.position-relative
                    .h-100.w-100.rounded.position-absolute.top-left.animation-application
                    div#menuAccordion(style='display: contents').w-100.menu-glow
                        div#menuItemMain(class="collapse show" data-parent="#menuAccordion").w-100
                            .d-flex.pb-1.w-100
                                .flex-grow-1
                                    span.sidebar-brand-logo.sequenzia-logo sequenzia
                                div
                                    a.pr-0(data-placement="bottom" title="User Account and Settings" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemAccount").d-flex.align-items-center
                                        if (discord)
                                            span.username.align-self-center.d-none.d-sm-inline.pr-2 #{user.username}
                                            img.img-profile.rounded-circle(style='width: 2.5em; height: 2.5em; box-shadow: 0 0 4px #4f1900d6;' src=user.avatar)
                                        else
                                            span Login Required
                            #mainUserButtons.d-flex.menu-grid.main-menu-grid.menu-icons.py-1(class=`${(!discord) ? 'hidden':''}`)
                                a.hover-color(data-placement="top" title='Show Navigator', href='#_' onClick='toggleMenu(); return false;')
                                    i.fa-light.fa-sidebar
                                a.hover-color(data-placement="top" title='Latest Media', href='#/gallery?numdays=60&sort=eid')
                                    i.fa-light.fa-photo-video
                                a.hover-color(data-placement="top" title='Latest Files', href=`#/files?numdays=60&sort=eid&filesonly=true`)
                                    i.fa-light.fa-folder
                                a.hover-color(data-placement="bottom" title='Libraries', href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemLibrary" )
                                    i.fa-light.fa-ticket
                                a.hover-color(data-placement="top" title="Your Favorites", href='#/gallery?sort=fav&pins=true')
                                    i.fa-light.fa-star
                                a.hover-color(data-placement="top" title="User Albums" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemAlbums")
                                    i.fa-light.fa-archive
                                a.hover-color(data-placement="top" title="I'm Feeling Lucky", href='#/gallery?sort=random')
                                    i.fa-light.fa-dice
                                a.hover-color(data-placement="top" title="Artists", href='#/artists?')
                                    i.fa-light.fa-address-book
                                a.hover-color(data-placement="top" title="Upload Files", href='#_')
                                    i.fa-light.fa-upload
                                a.hover-color(data-placement="top" title="Applications" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemApps")
                                    i.fa-light.fa-browsers
                            #loginUserButtons.d-flex.py-1(class=`${(discord) ? 'hidden':''}`).flex-column.flex-sm-row
                                span#loginCodeDisplay.text-center.text-sm-left.pb-3.pb-sm-0.w-100 XXXXXX
                                .login-options.menu-grid
                                    a.hover-color(data-placement="top" title='Login with Discord', href='#_' onclick="transitionToOOBPage('/discord/login'); return false").d-flex.flex-column
                                        i.fa-light.fa-right-to-bracket.fa-2x.align-self-center
                                        span.align-self-center.pt-1 Login
                            .d-flex.justify-content-between.align-items-center.image-description
                                div(style='min-width: 0; overflow: hidden; flex: 1; text-overflow: ellipsis; white-space: nowrap;')
                                    .d-inline(style='white-space: nowrap;  flex: 1;')
                                        a.ajax-imageLink(data-placement="bottom" title='View the background photo')
                                            .d-inline-block(style='padding: 0 0.25rem 0 0')
                                                i.fas.fa-star.d-none.ajax-imageFav(style='font-size: 16px; vertical-align: middle; padding-bottom: 8px;')
                                            span.ajax-imageLocation.text-capitalize ...
                                            div(style='padding: 0 0.5rem; display: inline;').middle-indicator.hidden
                                                i.fas.fa-circle(style='font-size: 8px; vertical-align: middle;')
                                            span.ajax-imageDate
                                div.d-flex.justify-content-center.ml-2
                                    a.d-inline.hover-color(data-placement="bottom" title='Reload Page', style='text-decoration: none;', href='#_' onclick='getRandomImage(true); return false;').mr-2
                                        i.i.fas.fa-sync.fa-sm
                                    a.ajax-downloadLink.d-inline.hover-color(data-placement="bottom" title='Download Background Image', target='_blank', rel='noopener noreferrer', style='text-decoration: none;')
                                        i.i.fas.fa-download.fa-sm
                            if (pageError)
                                .d-flex.justify-content-between.align-items-center(style="font-size: 1.25em;").text-center.w-100.text-danger
                                    span.text-capitalize.shadow-text Internal Server Error

                        if (discord)
                            div#menuItemAlbums.menu-object(class="collapse" data-parent="#menuAccordion").w-100
                                .d-flex.w-100
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-archive.pr-2
                                            span Albums
                                .d-flex.w-100.mb-3
                                    if (albums && albums.length > 0)
                                        div.album-list
                                            each thisAlbum in albums
                                                div.album-item.position-relative
                                                    div.album-info.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2.pt-1(style="justify-content: left; top: 0;")
                                                        //x.uri, x.privacy
                                                        div.album-icon
                                                            if (thisAlbum.uri === 'gallery')
                                                                i.far.fa-photo-video.pr-1
                                                            else if (thisAlbum.uri === 'files')
                                                                i.far.fa-folder.pr-1
                                                            else if (thisAlbum.uri === 'cards')
                                                                i.far.fa-sticky-note.pr-1
                                                            else
                                                                i.far.fa-archive.pr-1
                                                    div.album-info.position-absolute.shadow-text.text-ellipsis.pl-2.pr-2(style="justify-content: left; bottom: 0; background: #00000091")
                                                        span #{thisAlbum.name}
                                                    a.position-absolute.text-capitalize(style='height: 100%; width: 100%' title=thisAlbum.name href=`#/${thisAlbum.uri}?album=${thisAlbum.aid}&sort=album`)
                                                        if (thisAlbum.image)
                                                            div.album-preview.rounded(style=`background-image: url("${thisAlbum.image}");`)
                                                        else
                                                            div.album-preview.rounded(style=`background: linear-gradient(31deg, #9f3202, #f7c21c);`)
                                    else
                                        span No Albums!
                            div#menuItemApps.menu-object(class="collapse" data-parent="#menuAccordion").w-100
                                .d-flex.w-100
                                    .flex-grow-1
                                        a.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-browsers.pr-2
                                            span Apps
                                .d-flex.w-100.mb-3
                                    div.menu-grid.user-menu-small
                                        a.user-menu-item.hover-color.d-flex.flex-column(title="Launch Ambient Display Web App" href='/ambient?displayname=Untitled' target="_blank" rel="noopener noreferrer")
                                            i.fas.fa-tv
                                            | Photo Frame
                                        a.user-menu-item.hover-color.d-flex.flex-column(title="Launch Offline Files" href='#_' onclick="transitionToOOBPage('/offline'); return false;")
                                            i.fas.fa-folder-bookmark
                                            | Local Files
                                        if (applications_list && applications_list.length > 0)
                                            each thisApp in applications_list
                                                if (thisApp.type == 0)
                                                    a.user-menu-item.hover-color.d-flex.flex-column(title=`Open ${thisApp.name}` href=thisApp.url target="_blank" rel="noopener noreferrer")
                                                        i.fas(class=`${thisApp.icon}`)
                                                        | #{thisApp.name}
                                                else
                                                    a.user-menu-item.hover-color.d-flex.flex-column(title=`Launch ${thisApp.name}` href=`#/app/launch/${thisApp.id}`)
                                                        i.fas(class=`${thisApp.icon}`)
                                                        | #{thisApp.name}
                            div#menuItemLibrary.menu-object(class="collapse" data-parent="#menuAccordion").w-100
                                .d-flex
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-ticket.pr-2
                                            span Theater
                                .d-flex.w-100.mb-3
                                    div.menu-grid.user-menu-small
                                        a.user-menu-item.hover-color.d-flex.flex-column(title="Continue Ongoing Series" href='#/listTheater?watch_history=none')
                                            i.fas.fa-forward
                                            | Up Next
                                        a.user-menu-item.hover-color.d-flex.flex-column(title="Media Shelves" href='#_' class="collapsed" data-toggle="collapse" data-target="#menuItemMediaGroups")
                                            i.fas.fa-fw.fa-books
                                            | Shelves
                                        a.user-menu-item.hover-color.d-flex.flex-column(data-placement="left" title="Favorite Episodes" href='#/listTheater?pins=true')
                                            i.fas.fa-star
                                            | Favorites
                                        a.user-menu-item.hover-color.d-flex.flex-column(data-placement="left" title="Watch History" href='#/listTheater?watch_history=only')
                                            i.fas.fa-clock-rotate-left
                                            | History
                            div#menuItemMediaGroups.menu-object(class="collapse" data-parent="#menuAccordion").w-100
                                .d-flex.w-100
                                    .flex-grow-1
                                        a.pr-2.d-inline.hover-color.top-icon(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemLibrary")
                                            i.fas.fa-arrow-left.fa-fw

                                    .d-flex.flex-column.justify-content-end.top-icon
                                        div
                                            i.fas.fa-books.pr-2
                                            span Shelves
                                .d-flex.w-100.mb-3
                                    div.menu-grid.user-menu-small
                                        if (theaters && theaters.length > 0)
                                            each thisTheater in theaters
                                                a.user-menu-item.hover-color.d-flex.flex-column(title=`Browse ${thisTheater.name} Collection` href=`#/tvTheater?group=${thisTheater.media_group}`)
                                                    i.fas(class=`${thisTheater.icon}`)
                                                    | #{thisTheater.name}
                        div#menuItemAccount.menu-object(class="collapse" data-parent="#menuAccordion").w-100
                            .d-flex
                                .d-flex.flex-grow-1
                                    a.pr-2.d-inline.hover-color.top-icon.align-self-center(title='Show Navigator', href='#_' data-toggle="collapse" data-target="#menuItemMain")
                                        i.fas.fa-arrow-left.fa-fw
                                    if (user)
                                        .input-group(style="width: 13rem;").h-25
                                            input#expressLoginCode.bg-darker(type='text' placeholder='123ABC' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="height: 1.8em;").m-0.form-control.form-text.input-group-text.border-left-0.text-uppercase.text-white
                                            .input-group-append
                                                a.btn.btn-primary(data-placement="right" title="Transfer Login to this device" href='#_' onClick=`authwareLogin(); return false;`).py-0
                                                    span Login
                                .d-flex.top-icon.align-items-center
                                    i.fas.fa-key.pr-sm-2
                                    span.d-none.d-sm-inline User Account
                            div.menu-grid.user-menu-small
                                a.user-menu-item.hover-color.d-flex.flex-column(data-placement="top" title="Refresh Session" href='/discord/refresh')
                                    i.fas.fa-sync
                                    | Refresh
                                a.user-menu-item.hover-color.d-flex.flex-column(data-placement="top" title="Logout Account" href='#_' data-toggle='modal' data-target='#logoutModal')
                                    i.fas.fa-sign-out-alt
                                    | Log Out

            .d-flex.ml-auto.mr-auto.justify-content-between.align-items-center.server-list.dimmed.animated--grow-in
                if (discord && discord.servers.list)
                    div.shadow-blk
                        for thisServer in discord.servers.list
                            img.server-icon.rounded-circle(data-placement="top"  title=thisServer.name src=thisServer.icon id=`server-${thisServer.serverid}`)

        // Logout Modal
        #logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Ready to Leave?
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body Select &quot;Logout&quot; below if you are ready to end your current session.
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                        a.btn.btn-danger(href='/discord/destroy') Logout
        //div#loadingLogo.center-block(style='display: none;')
            .lds-spinner
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
        script(src="/static/js/sb-admin-2.min.js")
