html
    head
        meta(charset='utf-8')
        meta(name='result', content=900)
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover')
        meta(name='description', content='Sequenzia Login Page')
        meta(name='author', content='Yukimi Kazari')
        meta(content="Sequenzia" property="og:title")
        meta(content="Image Gallery and File Manager" property="og:description")
        meta(content="Sequenzia" property="og:site_name")
        title=`Lets Login`
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel='apple-touch-icon' sizes='180x180' href='/static/img/icons/android/android-launchericon-192-192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/static/img/icons/firefox/firefox-general-32-32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/static/img/icons/chrome/firefox-general-16-16.png')
        link(rel='manifest' href='/static/manifest.json')

        link(rel='stylesheet', href="/static/vendor/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="/css/login.min.css")

        script(src="/static/vendor/jquery/jquery.min.js")
        script.
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker
                        .register('/js/serviceWorker.js')
                        .then(reg => console.log('Service Worker: Registered'))
                        .catch(err => console.log(`Service Worker: Error: ${err}`));
                });
            }
    body
        - loginImage = ((webconf.login_image_overides) ? (typeof webconf.login_image_overides === "string" ) ? webconf.login_image_overides : webconf.login_image_overides[Math.floor(Math.random() * webconf.login_image_overides.length)] : "/static/img/loading_bg.jpg").replace('https://cdn.discordapp.com/attachments/', 'https://media.discordapp.net/attachments/')
        style.
            #container, .acceptContainer:before {
                background: url("!{loginImage}") center fixed
            }
        #container
            #headerContainer
                img.top-logo(src=`${(webconf.login_banner_overides) ? webconf.login_banner_overides : "/static/img/sequenzia-logo-white.png"}` class=`${(webconf.login_banner_no_shadow) ? '' : 'banner-shadow'}`)
            #inviteContainer
                if (webconf.login_logo_background)
                    style.
                        .logoContainer:before {
                            top: unset;
                            left: unset;
                            filter: none;
                            width: 100%;
                            height: 100%;
                            box-shadow: none;
                            background: url("!{webconf.login_logo_background}") center
                        }
                    .logoContainer
                        div(style='width: 150px; height: 150px; display: block; content: ""')
                else
                    .logoContainer
                        img.logo(src=`${(webconf.login_logo_overides) ? webconf.login_logo_overides : "/static/img/sequenzia-logo-mini.png"}`)
                .acceptContainer
                    if (noLoginAvalible)
                        form(style='color: #ffffff; text-shadow: 0 0 20px #ff000070;')
                            if (noLoginAvalible === 'nomember')
                                i.fas.fa-passport.fa-7x.center(style='padding: 0;')
                                h3 No Membership
                                .formContainer
                                    if (joinLink)
                                        .formDiv.center(style='margin-bottom: 15px;')
                                            a.acceptBtn(href=joinLink)
                                                i.fab.fa-discord
                                                | Join Discord
                                    .formDiv.center
                                        a.acceptBtn.pr-2(href='/discord/refresh' style="margin-right: .5em;")
                                            i.fas.fa-sync(style="padding: 0;")
                                        a.acceptBtn(href='/discord/destroy')
                                            i.fas.fa-sign-out-alt
                                            | Logout
                            else if (noLoginAvalible === 'notelegram')
                                i.fas.fa-passport.fa-7x.center(style='padding: 0;')
                                h3 Account Not Found
                                p Your account was not found to be linked to a user, either you are not a member of the server or you need to link your account.
                                p If you are a member, login with discord, User Menu > Authentication > Login with Telegram
                                .formContainer
                                    if (joinLink)
                                        .formDiv.center(style='margin-bottom: 15px;')
                                            a.acceptBtn(href=joinLink)
                                                i.fab.fa-discord
                                                | Join Discord
                                    .formDiv.center
                                        a.acceptBtn(href='/discord/login')
                                            i.fab.fa-discord
                                            | Log in with Discord
                                    .formDiv.center
                                        a.acceptBtn(href='/discord/destroy')
                                            i.fas.fa-sign-out-alt
                                            | Cancel
                            else if (noLoginAvalible === 'noauth')
                                i.fas.fa-user-check.fa-7x.center(style='padding: 0;')
                                h3 No Permission
                                .formContainer
                                    .formDiv.center
                                        a.acceptBtn.pr-2(href='/discord/refresh' style="margin-right: .5em;")
                                            i.fas.fa-sync
                                        a.acceptBtn(href='/discord/destroy')
                                            i.fas.fa-sign-out-alt
                                            | Cancel
                            else
                                i.fas.fa-ban.fa-7x.center(style='padding: 0;')
                                h3 No Valid Membership
                                .formContainer
                                    .formDiv.center
                                        a.acceptBtn.pr-2(href='/discord/refresh' style="margin-right: .5em;")
                                            i.fas.fa-sync
                                        a.acceptBtn(href='/discord/destroy')
                                            i.fas.fa-sign-out-alt
                                            | Cancel

                    else if (authenticatedDevice)
                        form(style='color: #ffffff; text-shadow: 0 0 20px #ff000070;')
                            i.fas.fa-check-circle.fa-7x.center(style='padding: 0;')
                            h3 Your Ready!
                            .formContainer
                                .formDiv.center
                                    span.register
                                        | It may take up to a minute for the client to refresh, you can manually refresh if you want
                    else if (authfailedDevice)
                        form(style='color: #ffffff; text-shadow: 0 0 20px #ff000070;')
                            i.fas.fa-times-circle.fa-7x.center(style='padding: 0;')
                            h3 Login Failed, Try again.
                            .formContainer
                                .formDiv.center
                                    a.acceptBtn(href='/')
                                        i.fas.fa-home
                                        | Go Home
                    else if (serverError)
                        form(style='color: #ffffff; text-shadow: 0 0 20px #ff000070;')
                            i.fas.fa-times-circle.fa-7x.center(style='padding: 0;')
                            h3 Internal Server Failure (#{serverError})
                            .formContainer
                                .formDiv.center
                                    a.acceptBtn(href='/')
                                        i.fas.fa-home
                                        | Go Home
                    else
                        form(style='color: #460000;')
                            if (login_code)
                                div.login-code
                                    span.login-code.text-capitalize #{login_code}
                            .formContainer
                                .formDiv.center
                                    if (login_image)
                                        div#collapseQRCode.login-qr.collapse(style='display: none')
                                            img(src=login_image style='padding-bottom: 1em;')
                                    if (enableTelegram)
                                        div.login-button(style='padding-bottom: 1.5em;')
                                            script(async src='https://telegram.org/js/telegram-widget.js?15' data-telegram-login=telegramName data-size='large' data-auth-url=telegramCallback)
                                    div.login-button(style=((!enableTelegram) ? 'padding-top: 20px;' : ''))
                                        a.acceptBtn(href='/discord/login')
                                            i.fab.fa-discord
                                            | Log in with Discord
                                    if (login_image)
                                        div.login-button(style="padding-top: 2em;")
                                            a.acceptBtn(href='#_' onclick="$('#collapseQRCode').toggle(); return false;" style="background: #d0814e")
                                                i.fas.fa-qrcode
                                                | Log in with QR Code
                                    if (joinLink)
                                        span.register
                                            a(href=joinLink) Requires a valid membership
    if (login_image)
        script.
            setInterval(function () {
                $.ajax({async: true,
                    url: '/device-login?checklogin=true',
                    type: "GET",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response === 'true') {
                            location.href = '/discord/refresh'
                        }
                    },
                    error: function (response) {
                    }
                });
            }, 60000);
