html
    head
        meta(charset='utf-8')
        meta(name='result', content=900)
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover')
        meta(name='description', content='Sequenzia Login Page')
        meta(name='author', content='Yukimi Kazari')
        meta(content="Sequenzia" property="og:title")
        meta(content="Image Gallery and File Manager" property="og:description")
        meta(content="Sequenzia" property="og:site_name")
        title=`Lets Login`
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="pple-mobile-web-app-title" content="Sequenzia")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel='apple-touch-icon' sizes='180x180' href='/static/img/icons/android/android-launchericon-192-192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/static/img/icons/firefox/firefox-general-32-32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/static/img/icons/chrome/firefox-general-16-16.png')
        link(href='/static/img/splash/apple/iphone5_splash.png' media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone5_splash_landscape.png' media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone6_splash.png' media='screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone6_splash_landscape.png' media='screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphoneplus_splash.png' media='screen and (device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphoneplus_splash_landscape.png' media='screen and (device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonex_splash.png' media='screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonex_splash_landscape.png' media='screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonexr_splash.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonexr_splash_landscape.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonexsmax_splash.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphonexsmax_splash_landscape.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone11pro_splash.png' media='screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone11pro_splash_landscape.png' media='screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone11promax_splash.png' media='screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/iphone11promax_splash_landscape.png' media='screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipad_splash.png' media='screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipad_splash_landscape.png' media='screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro1_splash.png' media='screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro1_splash_landscape.png' media='screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro3_splash.png' media='screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro3_splash_landscape.png' media='screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro2_splash.png' media='screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
        link(href='/static/img/splash/apple/ipadpro2_splash_landscape.png' media='screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')

        link(rel='manifest' href='/static/manifest.json')

        link(rel='stylesheet', href="/static/vendor/fontawesome/css/fontawesome.min.css")
        link(rel='stylesheet', href="/static/vendor/fontawesome/css/all.min.css")
        link(rel="stylesheet", href="/css/login.min.css")

        script(src="/static/vendor/jquery/jquery.min.js")
    body
        - loginImage = ((webconf.login_image_overides) ? (typeof webconf.login_image_overides === "string" ) ? webconf.login_image_overides : webconf.login_image_overides[Math.floor(Math.random() * webconf.login_image_overides.length)] : "/static/img/loading_bg.jpeg").replace('https://cdn.discordapp.com/attachments/', 'https://media.discordapp.net/attachments/')
        style.
            body {
                background: url("!{loginImage}") center fixed
            }
        if (banner)
            div(style="display: block; position: fixed; left: 0; width: 100vw; z-index: 100000;")
                div(style="color: white;background: #930000;font-size: 1.35em;text-align: center;")
                    span !{banner}
        #container
            #inviteContainer
                .acceptContainer
                    .logo-container
                        img.top-logo(src=`${(webconf.login_banner_overides) ? webconf.login_banner_overides : "/static/img/sequenzia-logo-white.png"}`)
                    if (noLoginAvalible)
                        form(style='color: #ffffff; text-shadow: 0 0 20px #ff000070;')
                            if (noLoginAvalible === 'nomember')
                                i.fas.fa-passport.fa-7x.center(style='padding: 0;')
                                h3 No Passport
                                p Your account has no access rights
                                .formContainer
                                    if (joinLink)
                                        .formDiv.center(style='margin-bottom: 15px;')
                                            a.acceptBtn(href=joinLink)
                                                i.fab.fa-discord
                                                span Join Discord
                                    .formDiv.center
                                        a.acceptBtn.pr-2(href='/discord/refresh' style="margin-right: .5em;")
                                            i.fas.fa-sync(style="padding: 0;")
                                        a.acceptBtn(href='/discord/destroy')
                                            i.fas.fa-sign-out-alt
                                            span Logout
                            else if (noLoginAvalible === 'notelegram')
                                i.fas.fa-passport.fa-7x.center(style='padding: 0;')
                                h3 Account Not Found
                                p Your account was not found to be linked to a user, either you are not a member of the server or you need to link your account.
                                p If you are a member, login with discord, User Menu > Authentication > Login with Telegram
                                .formContainer
                                    if (joinLink)
                                        .formDiv.center
                                            a.acceptBtn(href=joinLink style='margin-bottom: 15px;')
                                                i.fab.fa-discord
                                                span Join Discord
                                    .formDiv.center
                                        a.acceptBtn(href='/discord/login')
                                            i.fab.fa-discord
                                            span Log in with Discord
                                    .formDiv.center
                                        a.acceptBtn(href='/discord/destroy')
                                            i.fas.fa-sign-out-alt
                                            span Cancel
                            else if (noLoginAvalible === 'noauth')
                                i.fas.fa-user-xmark.fa-7x.center(style='padding: 0;')
                                h3 No Permission
                                .formContainer
                                    .formDiv.center
                                        a.acceptBtn(href='/discord/refresh' style="margin-right: .5em;")
                                            i.fas.fa-sync
                                        a.acceptBtn(href='/discord/destroy')
                                            i.fas.fa-sign-out-alt
                                            span Cancel
                            else
                                i.fas.fa-ban.fa-7x.center(style='padding: 0;')
                                h3 No Valid Membership
                                .formContainer
                                    .formDiv.center
                                        a.acceptBtn.pr-2(href='/discord/refresh' style="margin-right: .5em;")
                                            i.fas.fa-sync
                                        a.acceptBtn(href='/discord/destroy')
                                            i.fas.fa-sign-out-alt
                                            span Cancel

                    else if (authenticatedDevice)
                        form(style='color: #ffffff; text-shadow: 0 0 20px #ff000070;')
                            i.fas.fa-check-circle.fa-7x.center(style='padding: 0;')
                            h3 Your Ready!
                            .formContainer
                                .formDiv.center
                                    span.register
                                        span It may take up to a minute for the client to refresh, you can manually refresh if you want
                    else if (authfailedDevice)
                        form(style='color: #ffffff; text-shadow: 0 0 20px #ff000070;')
                            i.fas.fa-times-circle.fa-7x.center(style='padding: 0;')
                            h3 Login Failed, Try again.
                            .formContainer
                                .formDiv.center
                                    a.acceptBtn(href='/')
                                        i.fas.fa-home
                                        span Go Home
                    else if (serverError)
                        form(style='color: #ffffff; text-shadow: 0 0 20px #ff000070;')
                            i.fas.fa-times-circle.fa-7x.center(style='padding: 0;')
                            h3 Internal Server Failure (#{serverError})
                            .formContainer
                                .formDiv.center
                                    a.acceptBtn(href='/')
                                        i.fas.fa-home
                                        span Go Home
                    else
                        form(style='color: #460000;')
                            if (login_code)
                                div.login-code
                                    span.login-code.text-capitalize #{login_code}
                            .formContainer
                                .formDiv.center
                                    if (login_image)
                                        div#collapseQRCode.login-qr.collapse(style='display: none')
                                            img(src=login_image style='padding-bottom: 1em;')
                                    div.login-button
                                        a.acceptBtn.discord(href='/discord/login')
                                            i.fab.fa-discord
                                            span Discord
                                        if (login_image)
                                            a.acceptBtn(href='#_' onclick="$('#collapseQRCode').toggle(); return false;")
                                                i.fas.fa-qrcode
                                                span QR Code
                                    if (joinLink)
                                        span.register
                                            a(href=joinLink) Requires a valid membership
    if (login_image)
        script.
            setInterval(function () {
                $.ajax({async: true,
                    url: '/device-login?checklogin=true',
                    type: "GET",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response === 'true') {
                            location.href = '/discord/refresh'
                        }
                    },
                    error: function (response) {
                    }
                });
            }, 60000);
