head
    title=`${webconf.site_name}`

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes, viewport-fit=cover, user-scalable=no')
    meta(name='description', content=webconf.site_name || 'Sequenzia')
    meta(name='author', content='Yukimi Kazari')
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content=webconf.site_name || "Sequenzia")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(content=webconf.site_name || "Sequenzia" property="og:title")
    meta(content="Image Gallery and File Manager" property="og:description")
    meta(content=webconf.site_name || "Sequenzia" property="og:site_name")
    //meta(name="theme-color" content="#4285f4")
    link(rel='preload', href="/static/font/london2012.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
    link(rel='apple-touch-icon' sizes='180x180' href='/static/img/icons/android/android-launchericon-192-192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/static/img/icons/firefox/firefox-general-32-32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/static/img/icons/chrome/firefox-general-16-16.png')
    link(rel='manifest' href='/static/manifest.json')
    link(rel='preconnect' href='https://cdn.discordapp.com')
    link(rel='preconnect' href='https://media.discordapp.net')
    link(rel="stylesheet", href="/css/layout-basic.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")
    link(rel="stylesheet", href="/static/css/layout-lite.css")
body
    div.content
        div.fixed-center
            div.logo-top
                img(src="/static/img/sequenzia-logo-nav.png")
            div.menu-bar

            div.search-box

            div.data-count

            div.about-installation
                span Serving X posts -
                span Running Sequenzia v20.3

